body {
	font-size:13px;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px #fff;
}
.bg-gray {
	background:#efefef;
}

a:hover 
{
	color:#f99a07 !important;
}

a{
	cursor:pointer;
}

a:focus 
{
	outline:none;
}

pre {
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/*.lineH td {
	line-height: 19px;
}*/
.display-block {
	display: block;
}

.menu {
  background-color: transparent;
  border: none;
  height: 65px;
  min-width:inherit !important;
  width: 65px;
  margin: 0px;
  border-radius: 0px;
}

.menuactive {
	background:#f9ac34;
}

.menuactive .link-icon md-icon, .menuactive .link-name {
	color:#fff;
}


md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    color: #444444;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar) md-icon, md-toolbar:not(.md-menu-toolbar) md-icon {
    color: #444444;
    fill: #444444;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: #003399;
    color: #fff;
	box-shadow: 0 2px 2px rgba(0,0,0,.03),0 1px 0 rgba(0,0,0,.03);
}
.md-toolbar-tools .md-button {
    margin: 0;
}

/*.custom-sub-header {
	background:#02308e;
}
.custom-sub-header a {
	color:#f9ac34;
	text-decoration:none;
	font-weight:400;
	font-size:13px;
	margin-right:35px;
	cursor:pointer;
}

.custom-sub-header a md-icon{
	color:#f9ac34;
	margin-right:5px;
	font-size:16px;
}
.custom-sub-header a:hover md-icon{
	color:#f99a07 !important;
}
.custom-sub-header {
    padding: 10px 16px;
}
*/

.custom-sub-header {
    position: fixed;
    background: #02308e;
    width: 100%;
    padding: 5px 16px;
    z-index: 8;
}
.custom-sub-header .btn-plain{
	font-size:13px;
}
.custom-sub-header .btn-plain md-icon {
    font-size: 20px;
}
.custom-sub-header .btn-plain:focus{
	    outline: 0;
}
.custom-sub-header-space {
	width:100%;
	height:40px;
}
.custom-sub-header h4{
    margin: 5px 0;
    color: #fff;
    font-weight: 600;
}

.sub-header {
	background:#02308e;
}
.sub-header a {
	color:#f9ac34;
	text-decoration:none;
	font-weight:400;
	font-size:13px;
	margin-right:35px;
	cursor:pointer;
}

.sub-header a md-icon{
	color:#f9ac34;
	margin-right:5px;
	font-size:16px;
}
.sub-header a:hover md-icon{
	color:#f99a07 !important;
}
.md-subheader.sub-header ._md-subheader-inner {
    padding: 10px 16px;
}
/* Sidenav area */
md-sidenav {
	width:210px !important;
	height:100% !important;
}
.top-left-holder {
	width:100%;
	/*background:url(../images/md-bg.jpg) no-repeat center;
	background-size:cover;*/
}
.top-left-section {
}
.user-row md-icon {
    color: #000 !important;
    line-height: 1.8;
    margin-left: 10px;
    font-size: 25px;
}
.user-details {
	width:83%;
}
.user-row {
    background: #ffffff;
    margin-top: 6px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.top-left-holder .overlay {
	/*background:rgba(255,255,255,0.80);
	width:100%;
	height:100%;*/
}

.top-left-holder .logo img {
}
md-toolbar.md-hue-2:not(.md-menu-toolbar) {
    background-color: #fff;
	box-shadow:none !important;
}
md-sidenav {
	box-shadow: 0 0 0 1px rgba(0,0,0,.075);
}
.sidenav-logo img{
	width:120px;
}
.sidenav-logo {
    padding: 15px 0px 0px 15px;
}
.user-icon {
	margin-right:10px;
}
.user-name {
	color: #333333;
	font-size:14px;
	padding:2px 0;
	white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.menu-item {
	/*padding:13px 20px;*/
}
.link-icon {
	padding-right:15px;
}
.link-icon .material-icons {
	font-size:21px;
	    color: #4C4C4C;
}
.link-name {
	font-size:14px;
	font-weight: 400;
    color: #4C4C4C;
}
md-sidenav.md-sidenav-left .inset {
	padding-left:15px;
}
.user-mail {
	    font-size: 85%;
    font-weight: 400;
    color: #777777;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
md-card {
  background-color: #fff;
}
md-card h2:first-of-type {
  margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
  border-radius: 99%;
}

h2 {
  font-weight: 400;
}

.md-toolbar-tools-bottom {
  font-size: small;
}
.md-toolbar-tools-bottom :last-child {
  opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

md-sidenav {
  fill: #737373;
}
md-sidenav ng-md-icon {
  position: relative;
  top: 5px;
}

.user-avatar {
  border-radius: 99%;
}

/***************body content*******************/
.pull-right {
	float: right !important;
}
md-card {
	    /*box-shadow: 0 1px 2px #ccc;*/
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
		margin:15px 8px;    display: block;
}
.layout-padding {
}
.filters.model-filters {
	margin-bottom:10px;
}
.filters.model-filters li {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
	height: 45px;
	padding:5px 10px;
	line-height: 23px;
}
.model-filters {
	padding-left:0px;
}
.filters li.search-holder {
    background: transparent;
    box-shadow: none;
    padding: 0px;
    min-width: auto;
}
.filters .search-box {
	width: 230px !important;
}

.filters .search-box input {
	padding: 0px 43px 0px 10px;
}
.filters.model-filters .search-box {
	position:relative;
}
.filters.model-filters li.btn-li {
	min-width:40px !important;
	width:40px;
	padding: 0px;
	box-shadow:none;
}
.filters.model-filters .btn-li .md-button {
	/*height: 35px;*/
	min-height: 35px;
	border-radius: 2px;
	min-width: 40px !important;
	/*width:40px;*/
}
.filters {
	margin: 0px;
}
.filters li{
	list-style:none;
	float:left;
	min-width:155px;
	margin-right:5px;
	background:#fff;
	padding:5px 10px;
	/*box-shadow: 0 1px 2px #ccc;*/
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	    height: 45px;
    line-height: 21px;
    position:relative;
}
.filters li.text-filter {
	padding:7px;
}

.filters li md-select .md-select-value, .filters li md-select:not([disabled]):focus .md-select-value  {
	border:0px;
	color:#f9ac34;
}

.filters li input {
    padding: 0px 5px;
    border: 1px solid #ddd;
    min-width: 100px;
width: 100%;
    
}
.page-rows {
	/*float:right !important;*/
}
.filters li md-select {
	margin:0px;
	padding-top: 13px;
}
.filters li label
{
	    font-size: 11px;
    color: #777;
    position: absolute;
    top: 2px;
}
.filters md-select ._md-select-value {
	border-bottom:0px;
	padding:0px;
	min-height:inherit;
	margin-top: -3px;
	font-size:13px;
	color:#5e5e5e;
}
.filters md-select ._md-select-value span{
	padding-bottom:0px !important;
}
.filters md-select:focus:not([disabled]) ._md-select-value {
    border-bottom:0px;
}
.table {
	width:100%;
	border-collapse: collapse;
    border-spacing: 0;
}
.table tr th{
	font-size:12px;
	padding:15px;
	border-bottom: 2px solid #ddd;
}
.table tr td {
	font-size:12px;
	padding:15px;
}
.child-table tr td {
	padding:0px 5px 3px 0 !important;
	font-size:12px;
}
.table-text-left tr th, .table-text-left tr td {
	text-align:left;
	vertical-align:top;
}
.text-align-right {
	text-align:right !important;
}
.v-align {
	vertical-align:middle !important;
}
.clr-red {
	color:#ff0000;
	font-weight:600;
}
.past-due a {
	color:#003399;
	text-decoration:none;
}
.past-due a:hover {
	color:#003399 !important;
	text-decoration:underline;
}

.table-hover>tbody>tr:hover{
	background-color: #f4f4f4;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f4f4f4 !important;
}
.table-striped>tbody>tr {
	background-color: #fff;
}
.padding-none {
	padding:0px !important;
}

.invoices-scroll {
    max-height: 400px;
}

.add-btn-top {
    position: fixed;
    right: 20px;
    top: 31px;
	width: 50px !important;
	height: 50px !important;
	line-height:34px !important;
	background-color:#f9ac34 !important;
}
.add-btn-top.invoice-add{
	top: 71px;
}

.left-form {
	padding:10px 15px 10px 10px;
}
.right-form {
	padding:10px 10px 10px 15px;
}

.rs-form md-input-container {
	margin:0px !important;
}
.product-field md-select{
	margin-bottom:0px !important;
}

.product-field  .field-bottom-btns{
	    position: absolute;
    bottom: -5px;
    right: 0;
}

.product-field.md-input-has-value .field-bottom-btns{
	bottom: -22px;
}
.rs-form md-select {
	margin-bottom:24px;
}

md-input-container md-select {
	margin-top: -4px;
}
md-input-container.md-input-has-value md-select {
	margin-top: 0px;
}


.rs-form md-input-container .md-input-messages-animation {
    margin-bottom: 24px;
    margin-top: -24px;
}

.date-picker {
	margin-bottom:35px;
}
.date-picker .md-button.md-icon-button {
    margin: 0px;
    padding: 0px;
    width: 24px;
}
.date-picker.paymentDueDate .md-datepicker-input-container {
	margin-bottom:11px;
}

.date-picker .md-datepicker-input-container {
	width: 82%;
}

.addInvoiceComments textarea {
	min-height:144px !important;
}
.add-invoice-item {
	padding: 25px 0px 0px;
	background:#f0f0f0;
}
.add-invoice-item .md-button {
	background: #f9ac34 !important;
    color: #fff;
    font-size: 12px;
    height: 35px;
    margin: -4px 0 10px !important;
    min-width: 40px;
}
/*******************/
md-input-container label {
    color: #999;
    font-size: 12px;
    font-weight: normal;
    pointer-events: none;
    padding-bottom: 10px;
}
md-input-container.md-input-has-value label, md-input-container.md-input-focused label {
	padding-bottom:0px !important;
}

md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
	font-size:14px;
}

md-input-container .md-input {
	font-size:12px;
}

md-select .md-select-value.md-select-placeholder, md-select md-select-value span {
    /*color: #f9ac34;*/
    font-size: 12px;
    font-weight: normal;
    pointer-events: none;
	padding-bottom:5px !important;
}



md-select:focus:not([disabled]) .md-select-value.md-select-placeholder {
    color: #999;
}

/*******************Theam*********/
md-input-container.md-input-focused label, md-input-container.md-input-has-value label {
	color:#f9ac34 !important;
	letter-spacing: 0.5px;
}

md-input-container.md-input-focused md-select, md-input-container.md-input-has-value md-select {
	/*color:#f9ac34 !important;*/
    border-bottom-color: #f9ac34 !important;
	border-bottom-width: 1px;
}
md-input-container.md-input-focused:not([md-no-float]) .md-select-placeholder span {
	color:#f9ac34 !important;
}
md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value{
	border-bottom-color: #f9ac34 !important;
}
md-select-menu.md-default-theme md-content md-option[selected], md-select-menu md-content md-option[selected] {
	    color: #f9ac34 !important;
}

md-input-container.md-default-theme.md-input-focused:not(.md-input-invalid) .md-input, md-input-container.md-input-focused:not(.md-input-invalid) .md-input {
    border-color: #f9ac34 !important;
}

md-select.md-default-theme:focus:not([disabled]) ._md-select-value, md-select:focus:not([disabled]) ._md-select-value {
    border-bottom-color: #f9ac34 !important;
}

md-select.md-default-theme:focus:not([disabled]) ._md-select-value span, md-select:focus:not([disabled]) ._md-select-value span, md-input-container.md-input-has-value md-select ._md-select-value span{
    color: rgba(0,0,0,0.87) !important;
}

.addInvoice-item {
	/*margin-top:0px;*/
}

.addInvoice-item .left-form{
	padding:15px 15px;
}

.addInvoice-item .right-form{
	padding:15px 15px;
	background:#fbfafa;
}
.-padding {
	margin-left:-15px;
	margin-right:-15px;
}
.devider {
	width:100%;
	margin-top:15px;
	margin-bottom:15px;
	height:1px;
	background:#f6f6f6 !important;
}
.btn-yellow {
	background:#f9ac34 !important;
	color:#fff !important;
}

.btn-gray {
	background:#f0f0f0 !important;
}

h2.block-header {
    font-size: 15px;
    color: #777;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
}

ul.paye-count {
    margin-bottom: 0px;
}

ul.paye-count li {
	list-style:none;
	float:left;
	margin-right:25px;
	font-size:13px;
	color:#f9ac34;
}

ul.paye-count li span{
	color:#777;
	text-transform:uppercase;
	font-weight:400;
}

.rs-dialog md-toolbar:not(.md-menu-toolbar) {
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 2px rgba(0,0,0,.03),0 1px 0 rgba(0,0,0,.03);
	min-height: 41px;
	font-size:16px;
	text-transform:uppercase;
}

.rs-dialog {
	min-width:35%;
}
.rs-dialog md-dialog-content {
	/*padding:20px;*/
}

.rs-dialog .md-toolbar-tools {
    font-size: 15px;
	height: 50px;
}

.btn-clr-yellow {
	color:#f9ac34;
	font-size:14px;
}

.top-space {
	width:100%;
	height:40px;
}

.lg-rs-dialog {
	width:80%;
}

.md-rs-dialog {
	width:50%;
}
.add-invoice {
	overflow:hidden;
}

.padding-right-30 {
	padding-right:30px;
}
.margin-top-40 {
	margin-top:30px;
}
.margin-top-20 {
	margin-top:20px;
}

.table-hover tr:hover td, .table-hover tr:focus td {
	/*background:rgba(249,172,52,0.20);*/
	background:#ffffdb;
}
.table-hover tr:hover td.table-row-menu {
	/*background:rgba(249,172,52,0.00);*/
}
.table-hover tr:hover td.table-row-menu .md-button.md-icon-button {
	background:#f9ac34;
}
.table-hover tr:hover td.table-row-menu .md-button.md-icon-button .material-icons {
	color:#fff;
}
.table-hover tr:hover td .child-table tr td {
	background:none;
}
.small-menu md-menu-item {
	min-height: 30px !important;
	height: 30px !important;
}
.small-menu md-menu-item .md-button {
	font-size: 12px !important;
}
.small-menu {
	width:150px;
}

.add-invoice md-input-container {
    padding: 2px 10px;
}
.add-invoice {
	/*padding:40px 20px;*/
	padding: 30px 20px 15px 20px;
}

.ai-margin-top {margin-top: 30px;}

.md-datepicker-input {
    font-size: 12px;
}

.add-invoice md-input-container label:not(.md-no-float):not(._md-container-ignore) {
	padding-left:13px;
}

/***********************************Ng Scroolbar********************/
.ngsb-wrap {
  -ms-touch-action: none;
}
.ngsb-wrap .ngsb-container {
  width: auto;
  overflow: hidden;
  transition: 0.5s all;
}
.ngsb-wrap:hover .ngsb-scrollbar {
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
  /* old ie */
}
.ngsb-wrap .ngsb-scrollbar {
  width: 16px;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
  /* old ie */
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-container {
  position: absolute;
  top: 5px;
  left: 0;
  bottom: 0;
  right: 0px;
  height: auto;
}
.ngsb-wrap .ngsb-scrollbar a.ngsb-thumb-container {
  margin: 20px 0;
}
.ngsb-wrap .ngsb-scrollbar .ngsb-track {
  height: 100%;
  margin: 0 auto;
  width: 6px !important;
  /*background: #000;*/
  /*background: rgba(0, 0, 0, 0.3);*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
  /* old ie */
  /*box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);*/
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos {
  cursor: pointer;
  width: 100%;
  height: 30px;
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {
  transition: 0.5s all;
  width: 4px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  background: #fff;
  /* rgba fallback */
  background: #888;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
  /* old ie */
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:hover .ngsb-thumb {
  background: #555;
  filter: "alpha(opacity=50)";
  -ms-filter: "alpha(opacity=50)";
  /* old ie */
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:active {
  background: rgba(255, 255, 255, 0.6);
  filter: "alpha(opacity=60)";
  -ms-filter: "alpha(opacity=60)";
  /* old ie */
}

/*****************End NG-Scroll***********************/

/*******************Login*********************/
.login-contain {
	width:30%;
	margin:auto;
	margin-top:10%;
}
.login-contain img {
	width:136px;
	margin:auto;
}
.login-form {
	padding:10px 20px;
}
.login-form h2 {
	    line-height: 24px;
    font-size: 13px;
    font-weight: 700;
    display: block;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: rgba(0,0,0,.54);
}
.login-form md-input-container 
{
	margin:10px 0;
}
.login-form md-input-container label {
    color: #9e9e9e;
    font-size: 14px;
}
.padding-10 {
	padding:10px;
}
.forgot-psw  {
	text-align:right;
	margin-top:-13px;
}
.forgot-psw a{
	    color: #686868;
		font-size:13px;
		text-decoration:none;
		font-weight:300;
}
.remumber-psw {
	text-align:left;
	margin-top:-15px;
}
.remumber-psw  md-checkbox .md-label span{
	color: #686868;
		font-size:13px;
}
.remumber-psw md-checkbox .md-label {
	margin-left:20px;
}
.remumber-psw md-checkbox .md-container {
	width: 14px;
	height: 14px;
}
.remumber-psw md-checkbox.md-checked .md-icon {
    background-color: #f9ac34;
}
.remumber-psw md-checkbox.md-checked .md-ink-ripple {
    color: #f9ac34;
}
.remumber-psw md-checkbox .md-icon {
	width: 15px;
	height: 15px;
    border-width: 1px;
}

.remumber-psw md-checkbox.md-checked .md-icon::after {
    left: 4px;
	top: 0px;
	width: 5.67px;
	height: 10.33px;
}
.btn-orrange {
	background-color: #f9ac34 !important;
	color:#fff !important;
	    font-weight: 500;
    font-size: 13px;
	padding: 0 2rem;
	    border-radius: 2px;
}
.login-contain .btn-orrange {
	width:95%;
}

/******/


.mac-assigned {
	color:#003399 !important;
	text-decoration:none;
	font-size: 11px;
	margin-left: 5px;
	cursor:pointer;
}
.mac-assigned-total {
	width:50px;
}
.mac-assigned:hover {
	color:#003399 !important;
	text-decoration:underline;
}
.processing {
	color:#f9ac34;
	font-size: 11px;
	margin-left: 20px;
}
.dialog-header {
	font-size:14px;
}
.customer-total-mac {
	color:#999;
	font-size:11px !important;
}

.table-bordered {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border: 1px solid #f0f0f0;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
	text-align:left;
	color: #5e5e5e;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #f0f0f0;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th {
  border-bottom: 0;
  border-left: 0;
}

.table-bordered > tbody > tr > td:last-child,
.table-bordered > tbody > tr > th:last-child {
  border-right: 0;
}

.table-bordered > thead > tr > th {
  border-left: 0;
}

.table-bordered > thead > tr > th:last-child {
  border-right: 0;
}

ul.mac-count  {
	padding-left:0px;
	margin-left:0px;
	margin-top:0px;
	margin-bottom:0px;
}

ul.mac-count  li{
	float:left;
	list-style:none;
	font-size:13px;
	margin-right:30px;
	font-weight:600;
	height:30px;
}

ul.mac-count  li span {
	color:#f9ac34;
	font-weight:400;
	margin-left:10px;
}

.btn-sm {margin-right: 0px;min-width: auto;min-height: auto;padding: 7px;line-height: 21px;height: 35px;}
.date-picker-container label {
	color: #999;
font-size: 12px;
font-weight: normal;
pointer-events: none;
padding-bottom: 0px;
}

.date-picker-container .md-datepicker-button {
margin-left: -5px;
padding: 0px;
margin-bottom: 15px;
margin-right: -12px;
}

.additem-box {
	background:#efefef;
	padding:10px;
}

.btn-edit .material-icons, .btn-delete .material-icons {
	font-size:16px;
}

.btn-edit:hover .material-icons {
	color:#1200FF;
}

.btn-delete:hover .material-icons {
	color:#f00;
}

.field-bottom-btns {
    margin-top: -19px;
	float: right;
	font-size: 10px;
}
.input-field-bottom-btns{
	margin-top: 5px;
	float: right;
	font-size: 10px;
}
.field-bottom-btns span, .input-field-bottom-btns span {
	margin-left: 15px;
	color: #003399;
	cursor: pointer;
}

.back-link {
	color: #f9ac34 !important;
	font-size: 19px;
}
.macList-of-ShippedTtems li {
	font-size:13px;
	margin-bottom:5px;
}

.alert-dialog {
	text-align:center;
}
.alert-dialog h3 {
	color: #000;
	font-size: 20px;
	text-align: center;
	font-weight: normal;
	text-transform: none;
	position: relative;
	margin: 0 0 5px;
	padding: 0;
	line-height: 40px;
	display: block;
}
.alert-dialog p{
	color: #5e5e5e;
	font-size: 14px;
	font-weight: 300;
	position: relative;
	text-align: inherit;
	float: none;
	padding: 0;
	line-height: 24px;
}
.alert-icon-holder md-icon{
	text-align:center;
	color:#f9ac34;
	font-size: 70px;
    margin-bottom: 40px;
    margin-left: -35px;
}

.menu-item-extended {
	max-height:48px;
}

.error-message {
	color:red;
}

.disabled {
    pointer-events: none;
   cursor: not-allowed;
}



.md-subheader.sub-header.padding-none ._md-subheader-inner {
    padding:0px 16px !important;
}

.meshD-tabs .md-tab.md-active {
 color:#fff;
}

.meshD-tabs .md-tab {
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    white-space: nowrap;
    text-transform: inherit;
    font-weight: 500;
 color:rgba(255,255,255,0.80)
}

.model-selection {
    padding: 10px;
}

.model-selection small {
 color: #999;
 font-size: 12px;
 font-weight: normal;
 pointer-events: none;
 padding-bottom: 10px;
}

.model-selection-list {
 width: 100%;
background: #f2f2f2;
padding: 15px;
box-sizing: border-box;
overflow-y: scroll;
max-height: 130px;
margin-top: 10px;
}

md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
    background-color: rgba(249,172,52,0.87) !important;
}
md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
    border-color: #f9ac34 !important;
}

.model-selection-list md-radio-button ._md-off {
    width: 17px;
    height: 17px;
}

.model-selection-list md-radio-button ._md-on {
    width: 17px;
    height: 17px;
}

.model-selection-list md-radio-button ._md-label span{
 color:#777;
}

.flashing-scroll {
    max-height: 150px;
    border-bottom: 2px solid #f2f2f2;
}

.flashing-progress-scroll {
 max-height: 200px;
}

.table.table-bdr-bottom>tbody>tr>td, .table.table-bdr-bottom>tbody>tr>th, .table.table-bdr-bottom>tfoot>tr>td, .table.table-bdr-bottom>tfoot>tr>th, .table.table-bdr-bottom>thead>tr>td, .table.table-bdr-bottom>thead>tr>th {
    border-top: 1px solid #ddd;
}

.table-bdr-bottom {
 border:1px solid #ddd;
}

.flashing-progress-section {
    margin-top: -14px;
    background: #f8f8f8;
}
.processing-content {
 padding:15px;
 background:#ddd;
}

md-progress-linear {
    height: 10px !important;
}
md-progress-linear ._md-container {
 height: 10px !important;
}
md-progress-linear .md-container .md-bar {
 height: 10px !important;
}
.progress-bar-holder {
 padding:20px 0 20px 0;
 overflow:hidden;
}

.flashing td {
 background-color: #cbf6b9;
}
.flashing:hover td{
 background-color:#d2fbc1 !important;
}

.flashing-scroll .table tr td .material-icons {
    font-size: 23px;
    margin-top: -2px;
 color: #dfdfdf;
}
.flashing-scroll .table tr.flashing td .material-icons {
 color: #8ecc74;
}

.flash-done td {
 background-color: #c0e1f2;
}

.flash-done:hover td{
 background-color:#d9edf7 !important;
}

.flashing-scroll .table tr.flash-done td .material-icons {
 color: #75bbde;
}

.flashing-inputs-container {
 overflow:hidden;
 padding:30px 20px 0 20px;
}

md-card.rs-card md-card-title {
    padding: 10px 16px 10px;
    border-bottom: 2px solid #eee;
}

md-card.rs-card md-card-title-text .md-headline {
    font-size: 18px;
}

.orange-btn {
 background:#f9ac34;
 color:#fff;
 letter-spacing: 0.5;
 font-size:13px;
}
.orange-btn:hover {
 background:#fca216 !important;
}

.orange-btn.disable {
 opacity:0.6;
 cursor:default;
}

.orange-btn.disable:hover {
 background:#f9ac34 !important;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #f9ac34 !important;
    background: #f9ac34 !important;
}
md-ink-bar {
    height: 3px !important;
}
.btn-small {
 background: #f9ac34;
 color: #fff;
 font-size: 11px;
 padding: 5px;
 margin: 0px;
 min-height: auto;
 height: auto;
 line-height: 12px;
}

.btn-small:hover { 
background: #fca51e !important;
}
.btn-small.disable{
 opacity:0.6;
 cursor:default;
}

.genrate-image .completed td {
 background-color: #eaffe1;
}
.genrate-image .completed:hover td{
 background-color:#cbf6b9 !important;
}
.genrate-image .assigning td {
 background-color: #fff7ca;
}
.genrate-image .assigning:hover td {
 background-color: #fff7ca !important;
}

.genrate-image .completed td .material-icons {
 color: #31a500;
}
.tbl-input {
    border: 1px solid #ddd;
    height: 25px;
    margin-top: -3px;
    margin-bottom: -5px;
    border-radius: 2px;
    padding: 1px 5px;
    width: 100%;
}

.marginTop65 {
	margin-top:65px;
}



/**************Manage User*****************/
.clr-red-onhover:hover .material-icons {
	color:#f00 !important;
}

.clr-orange-onhover:hover .material-icons {
	color:#f9ac34;
}
/***************28-11-2016***********************/
.small-menu md-menu-item .md-button i {
    float: left;
	font-size: 13px;
	padding-top: 12px;
	margin-right: 5px;
	color: #777;
}
.search-box {
	width:300px !important;
	padding:0px !important;
}
.filters .search-box input {
	margin:0px !important;
	border:0px;
}
.filters .search-box .material-icons{
	padding-left:5px;
}
.filters .search-box input:focus{
	outline:0px;
}
.search-box .md-button {
    background: #f9ac34;
	min-width: 50px !important;
	padding: 0px;
	margin: 0px;
	height: 45px;
	border-radius: 0px;
	border-left: 1px solid #eee;
}
.search-box .md-button .material-icons {
	color:#fff;
}
.search-box .md-button:hover, .search-box .md-button:focus {
	background: #f9ac34;
}
.search-box  md-input-container .md-input {
    font-size: 15px;
    border: 0px;
    padding-left: 7px;
}
.search-box md-input-container .md-errors-spacer {
	display:none;
}

/***************************/
.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
  .selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
  .selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
  .selectdemoSelectHeader md-content._md {
    max-height: 240px; }
	
.qty-select {
    position: absolute;
    right: 10px;
    padding: 0 10px;
    border: 1px solid #ddd;
}

md-input-container.multy-select.md-input-has-value md-select ._md-select-value span {
	display:inherit;
}

md-input-container.multy-select.md-input-has-value md-select ._md-select-value span .qty-select {
	position:inherit;
}
md-input-container.multy-select.md-input-has-value md-select ._md-select-value span .qty-holder {
	width:50px;
	overflow:hidden;
}


.md-subheader.sub-header-links .md-subheader-inner {
    display: block;
    padding: 10px 16px 5px;
}

.meshD-datepicker .md-datepicker-input-container {width: 80% !important; margin-left: 0px !important;}

.meshD-datepicker-full .md-datepicker-input-container {width: 93% !important; margin-left: 0px !important;}

.meshD-datepicker-full label {
    right: 0px !important;
    width: 93% !important;
}
.meshD-datepicker-full .md-datepicker-button {
    margin-left: -10px;
    margin-right: 0px;
}
.meshD-datepicker-full .md-datepicker-input {
    max-width: 100%;
}
.btn-plain {
    border: 0px !important;
    background: transparent !important;
    color: #f9ac34 !important;
    font-weight: 600;
    font-size: 15px;
    margin-right: 15px;
}
.btn-plain md-icon {
    color: #f9ac34;
}
.error-job-order {
	color: red;
    margin-bottom: 17px;
    margin-top: -15px;
}

.border-none {
	border:0px;
}
.border-top tr td {
	border-top: 1px solid #f0f0f0;
}
.border-top tr:first-child td {
	border-top:0px;
}
.no-border tr td {
	border:0px !important;
}

.border-right tr td {
    border-right: 1px solid #f0f0f0;
}

.border-right tr td:last-child {
	border-right:0px;
}


md-select-menu md-select-header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-size: 10px;
    color: #757575;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.md-button.btn-small.md-default-theme[disabled], .md-button.btn-small[disabled] {
    background-color: #eee;
    cursor:not-allowed;
}
.md-button.btn-small.md-default-theme:hover[disabled], .md-button.btn-small:hover[disabled] {
	 background: #eee !important;
    cursor:not-allowed;
	}
.cust-required-msg {
	width:69%;
}

.td-word-wrap{
	max-width: 200px;
	overflow: hidden;
	padding:0px;
	margin:0px;
	word-wrap: break-word;
} 
.td-word-wrap-small {
	max-width: 150px;
	overflow: hidden;
	word-wrap: break-word;
	padding:0px;
	margin:0px;
}
.table tr td, .table tr th {
	max-width: 170px;
	word-wrap: break-word;
}	

.table tr td.td-word-wrap-xsmall, .table tr th.td-word-wrap-xsmall {
	max-width: 85px;
	min-width: 85px;
	overflow: hidden;
	word-wrap: break-word;
}

.table tr td.td-word-wrap-minWidth, .table tr th.td-word-wrap-minWidth {
	max-width: 100px;
	min-width: 100px;
	overflow: hidden;
	word-wrap: break-word;
}

.table tr td.td-no-wrap-lg {
	white-space: nowrap;
	max-width: 170px;
	min-width: 170px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.space-sm {
	min-width:33px;
}

.no-wrap-sm {

    white-space: nowrap;
    min-width: 110px;
    overflow: hidden;
}
td.item-qty {
	/*min-width:77px;*/
	background:#f00;
} 
.item-qty div {
	float:left;
	margin-right: 2px;	
}
md-input-container .md-input[disabled] {
    cursor: not-allowed;
}

.sub-table {
	margin-top:-1px;
}

.sub-table tr td {
	font-size:11px;
}

.burn-image-btn {
	float:right;
}

.download-link .material-icons {
    color: #31a500;
    cursor:pointer;
}
.td-text-center {
	text-align:center !important;
}

.btn-reload {
	color: #f9ac34;
    cursor:pointer;
}


 
/*******Forget Password*****/
.forgot-password-contain {
width:60%;
margin:auto;
}
.forgot-password-icon .material-icons {
font-size:188px;
color:#e3e3e3;
width: auto;
height: auto;
}
.forgot-password-contain h2
{
font-weight: 100;
font-size: 51px;
margin-bottom: 0px;
margin-top: 20px;
}
.forgot-password-contain h2 .material-icons {
color: #f9ac34;
font-size: 56px;
line-height: 48px;
line-height: 16px;
margin-right: 20px;
}
.text-center {
text-align:center;
}
.forgot-password-icon{
margin-right:0px;
height: 225px;
    line-height: 200px;
}
.forgot-password-form {
margin-left:2px;
height: 225px;
}
.forgot-psw-logo { 
width:160px;
}
.md-primary.btn-header-menu  {
    color: #fff;
    font-weight: 600;
    padding: 7px 15px;
    float: left;
    border-radius: 0px;
    margin-left:5px;
    min-width:auto;
}


.md-primary.btn-header-menu md-icon {
    color: #fff !important;
}


/*=========================
		April 24--17
=========================== */

.table_child {
	/*width:100%;*/
	border-collapse: collapse;
    border-spacing: 0;
    padding:0px;
    margin: -4px 0 0 0px;
}
.table_child tr th{
	font-size:12px;
	padding:10px;
	border-bottom: 2px solid #DDD;
}
.table_child tr td {
	font-size: 12px;
	padding: 0 5px;
	line-height: 22px;
}
.table_child tr td:first-child {min-width: 88px;}
.table_child tr td:nth-child(3) {min-width:30px;}
.table_child .child-table{
	width:100%;
	border-collapse: collapse;
    border-spacing: 0;
    padding:0px;
    margin: 0 0px 5px 5px;
}

.table_child .child-table tr td:first-child {min-width: 40px;}

.child-table_last {
	width:auto;
	border-collapse: collapse;
    border-spacing: 0;
    padding:0px;
    margin: -6px 0 -2px 0;
}

.child-table_last tr td {
	font-size: 12px;
	padding: 0 5px;
	line-height: 22px;
}
.child-table_last tr td:first-child {width: 50px;display: flex;overflow: hidden;}
.child-table_last .mac-assigned {margin-left: 0px;}

.tb-valgin-thead thead tr th {
    vertical-align: middle;
}

.btn-edit .material-icons,
.btn-delete .material-icons {
    font-size: 16px;
    background: #FCFCFC;
    line-height: 22px;
    text-align: center;
    padding: 0px;
    margin: 0px 0 0 0;
    border: 1px solid #f9f9f9;
    border-radius: 2px;
}
/* .btn-delete .material-icons {padding: 3px 0px 3px 7px;}*/
 /*--.actionbtn_ctrl > thead > tr > th:last-child {
    width: 82px;
}*/

/*.rs-form md-input-container .md-input-messages-animation {
    margin-bottom: 0px;
} */ 

.field-bottom-btns span, .input-field-bottom-btns span {
    margin-left: 15px;
    /*color: #393939;*/
    cursor: pointer;
    background: #e1e1e1;
    padding: 2px 8px;
    margin: 0 0 0 15px;
    border-radius: 0 0 3px 3px;
}
.input-bottom-btn {
    cursor: pointer;
	background: rgba(0,0,0,0.06);
	padding: 1px 8px;
	border-radius: 0 0 3px 3px;
	position: absolute;
	margin-top: -2px;
	font-size: 10px;
	z-index: 9;

}
.field-bottom-btns .btn-left{
	right:10px;
}
.field-bottom-btns .btn-right{
	right:60px;
}
.field-bottom-btns {
    margin-top: -22px;
    float: right;
    font-size: 10px;
    margin-bottom: 22px;
    position:relative;
    width:100%;
}
.padding_top {
    background: #f6f6f6;
    padding: 20px 10px 0 10px;
}
.margin-top_20 { margin-top:20px;}


/* Reset Css for previous
========================= */
.qty-select {
    padding: 4px 10px;
    margin-top: -6px;
}

/*Purchase Order table
=========================*/
.subchild-table{
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0px;
}

.purchase-childtablectrl .subchild-table{ margin:0px 5px;}
.purchase-childtablectrl .subchild-table tr td:first-child{min-width:36px;}
}
/* Product page reset
======================== */
.prd-childtablectrl .child-table{ margin-top:-4px;}
.prd-childtablectrl .child-table tr td:first-child{min-width:75px; max-width: 75px;
    word-wrap: break-word;}

/* Create Job Order page reset
================================== */
.cjo-childtablectrl .child-table{ margin-top:-4px;}
.cjo-childtablectrl .child-table tr td:first-child{width:36px;}


/* Job Order page reset
================================== */
.job_order-table .child-table{ margin-top:-2px;}
.job_order-table .child-table tr td:first-child{min-width:80px;}

.job_order-table .subchild-table{ margin:0px 5px;}
.job_order-table .subchild-table tr td:first-child{min-width:36px;}
.job_order-table .table_childsssss {
	/*width:100%;*/
	border-collapse: collapse;
    border-spacing: 0;
    padding:0px;
    margin: -4px 0 0 0px;
}
input.appearance-none[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number] {-moz-appearance: textfield;}

.column-xl {
	max-width:200px !important;
}
.column-xs {
	min-width:25px;
}



.pagination-holder {
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;    
    z-index:1;
}
.pagination-holder .sticky-pagination {
	padding-left: 226px;
	padding-right: 33px;
}
.model-pagination {
	/*width:100%;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	padding-left: 25px;
	padding-right: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;    
    z-index:1;*/
}
.model-pagination .page-list .md-button {
    padding: 0px 10px;
    border-radius: 2px;
    margin: 0px 2px;
    min-height: 27px !important;
    height: 27px;
    line-height: 27px;	
}

.model-pagination .page-details {
    width: 100%;
    margin-top: 0px;
    padding: 1px 10px 1px 15px;
    margin-bottom: 3px;
    font-size: 13px;
}

.model-pagination .page-search {
    float: right;
    margin-top: -10px;
}

.model-pagination .page-search input {
    padding: 4px 5px;
}

.dialog-pagination {
	box-shadow: 2px 2px 4px 1px rgba(0,0,0,.1);
	border-top:px solid #eee;
}

.dialog-pagination pagination {
	width:100%;
}
.dialog-pagination pagination .pagination-devider {
	display:none;
}



.dialog-pagination pagination .sticky-pagination {
    box-shadow: none !important;
    padding: 0 !important;
}

.sticky-pagination {
	background:#fff;
	box-shadow: 0 0 0 1px rgba(0,0,0,.075);
	width:100%;
	display: block;
	overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.page-search {
	/*float:right;*/
	position: absolute;
right: 17px;
bottom: 5px;
}

.page-search .md-button{
	width: auto;
	margin:0px;
	min-width: auto;
	padding: 0px 10px;
	background:#f9ac34;
	color:#fff !important;
	webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	border-radius: 2px;
	float: right !important;
}
	
	.page-search .md-button:hover, page-search .md-button:focus{
		background:#f9ac34;
		color:#fff;
	}
	
	.page-list .md-button.disable {
		background:none !important;
		color:#ddd !important;
		box-shadow:none !important;
	}
	
	.page-details{
		float:left;
		width: 25%;
		padding: 16px 10px 16px 15px;
		box-sizing: border-box;
	}
	
.page-list {
	float:left;
	width:75%;
}

.page-search input {
	border:1px solid #ddd;
	width: 40px;
	padding: 8px 5px;
}

.page-list .md-button {
	width: auto;
min-width: auto;
padding: 0px 10px;
border-radius: 2px;
}

.page-list .md-button.active, .page-list .md-button:hover, .page-list .md-button:focus{
	background:#f9ac34;
	color:#fff;
	webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.page-list .md-button:hover .material-icons {
	color:#fff;

	}
	md-icon {
	/*width:auto !important;
	height:auto !important;*/
	}
	.pagination-devider {
	width:100%;
	height:50px;
	}
	.md-datepicker-input-mask-opaque {
	left:5px !important;
	}
	.submit-search {
    margin: 0px;
    height: 45px;
    background: #f9ac34;
    min-width: auto;
    padding: 0 10px;
    color: #fff;
    border-radius: 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.submit-search:hover, .submit-search:focus {
	background: #f9ac34 !important;
}
.submit-search md-icon {
	color:#fff;
}
.toggleSidenav-btn{
	padding: 14px 10px 0 10px;
	border-radius: 0;
}
.header-right-menu {
	overflow: inherit;
}
.header-right-menu md-menu-item md-icon {
position: absolute;
top: 12px;
left: -2px;
}
.header-right-menu md-menu-item {
	position:relative;
}
.header-right-menu md-menu-item .md-button {
    padding-left: 45px;
}
.margin-bottom-60{
	margin-bottom:80px;
}
.clearfix {
	width:100%;
	clear:both;
}
 md-option.term-values .md-text {
	white-space: inherit !important;
	word-break: break-all;		
}
.md-datepicker-open {
    overflow: inherit !important;
}

.overflow-scroll {
	overflow-x: scroll;
}

.error-row-table {
	color: red;
}


/**********************/
.tbl-small-padding tr th, .tbl-small-padding tr td {
	padding:5px 10px;
}
.tbl-less-padding tr th, .tbl-less-padding tr td {
	padding:5px 10px;
	border-right:0px !important;
}
.add-purchase-order .md-datepicker-button {
	display:none;
}

.add-purchase-order .meshD-datepicker .md-datepicker-input-container {
    width: 100% !important;
}
.add-purchase-order .meshD-datepicker label {
	left: 0px !important;
}
.margin-bottom-30 {
	margin-bottom:30px;
}
.rs-form .add-invoice-item md-input-container .md-input-messages-animation {
    margin-bottom: 0px;
    margin-top: -0px;
}
.col-wt-25 {
	width:25%;
	float:left;
	box-sizing: border-box;
}
.col-wt-25 md-input-container, .col-wt-50 md-input-container{
	width:100%;
	box-sizing: border-box;
}
.col-wt-50 {
	width:50%;
	float:left;
	box-sizing: border-box;
}
.tbl-checkbox tr td md-checkbox {
	margin-bottom: 0px;
}
.tbl-checkbox tr td md-checkbox .md-icon {
	border-width: 1px;
}
.tbl-checkbox tr td md-checkbox.md-checked .md-icon {
    background-color:#f9ac34;
}
.tbl-checkbox tr td md-checkbox.md-checked .md-icon:after {
    left: 5.96667px;
    border-width: 3px;
}
.md-button.btn-file-download {
	background-color:#f9ac34;
	z-index:2;
}

.md-button.btn-file-download.md-fab:not([disabled]):hover, .md-button.btn-file-download.md-fab:not([disabled]):focus {
    background-color:#f9ac34;
}

side-nav{
	z-index:9;
}
md-select-menu md-option .md-text {
	text-overflow: inherit;
	overflow: visible;
}
.max-width-lg {
	/*min-width:250px;*/
	max-width: 375px !important;
}
.max-width-xlg {
	max-width: 400px !important;
}
.no-wrap {
    white-space: nowrap;
}
.md-button.icon-btn-edit, .md-button.icon-btn-delete {
    padding: 0px;
    margin: 0;
    width: 24px;
    min-height: 6px;
    line-height: 6px;
    height: 24px;
}
.md-button.icon-btn-edit md-icon, .md-button.icon-btn-delete md-icon {
	font-size:16px;
}
.icon-btn-edit:hover .material-icons {
	color:#1200FF;
}

.icon-btn-delete:hover .material-icons {
	color:#f00;
}

.icon-btn-delete.md-button[disabled] {    
    cursor:not-allowed;
}
.icon-btn-delete.md-button[disabled]:hover .material-icons {
	color: rgba(0,0,0,0.38);
}


	

md-toast.md-error-toast-theme div.md-toast-content{
    color: white !important;
    background-color: red !important;
}

md-toast.md-success-toast-theme div.md-toast-content{
    color: white !important;
    background-color: green !important;
}
.overflow-show {
	text-overflow: inherit !important;
    overflow: visible !important;
}
.filters .md-select-value {
	min-width: 50px;
}

.required-msg .md-input-message-animation{
    margin-left: 0px !important;
        padding-top: 24px;
 }
 
 .packing-slip-details .details-row {
 margin-bottom:15px;
 }
 .packing-slip-details .details-row pre{
    margin-top: 5px;
    margin-bottom: 0px;
}
.td-min-width {
	min-width: 120px;
}

