@media screen and (max-width: 359px) {
	.page-list .md-button {
	margin: 0 1px !important;
	}
	.remumber-psw md-checkbox .md-label span {
	    font-size: 12px;
	}
	.forgot-psw a {
    	font-size: 11px;
	}
}
@media screen and (max-width: 599px) {
	.login-contain {
	    width: 100%;
	    margin-top: 5%;
	    padding: 0;
	}
	
	.page-details {
		float: left;
	    width: 100%;
	    padding: 5px 10px 15px 10px;
	    box-sizing: border-box;
	    font-size: 11px;
	}
	/*.page-search {
	    position: absolute;
	    top: 3px;
	    right: 15px;
	}*/
		
	.page-list {
	    width: 100%;
	}
		
	.page-list .md-button {
	    width: auto;
	    min-width: auto;
	    padding: 1px 5px;
	    border-radius: 0px;
	    margin: 0 3px;
	    min-height: 21px;
	    line-height: normal;
	    color: #777;
		font-weight: 400;			    
	}
	.page-search input {
	    width: 38px;
	    padding: 1px 5px;
	}
	.filters li {
	    /*width: 48%;*/
	}
	ul.paye-count li {
	    margin-right: 15px;
	    font-size: 12px;
	}	
	.forgot-password-icon {
		display: none;
	}
	.forgot-password-contain {
	    width: 100%;
	    margin: auto;
	}
	.forgot-password-contain h2 .material-icons {
	    font-size: 31px;
	    line-height: 20px;
	    margin-right: 10px;
	}
	.forgot-password-contain h2 {
   		font-size: 24px;
	}	
	
	.tbl-horizontal-scroll-sm {
		overflow-y: scroll;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
		background: #fff;
		margin-right: -20px;
		padding-bottom: 10px;
	}
	.tbl-horizontal-scroll-sm .table {
	    min-width: 600px;
	}
	.col-wt-25 {
    	width: 100%;
	}
	.col-wt-50 {
    	width: 100%;
	}
				
}

@media screen and (max-width:979px){
	.tbl-horizontal-scroll {
		overflow-y: scroll;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
		background: #fff;
		margin-right: -20px;
		padding-bottom: 10px;
	}
	.tbl-horizontal-scroll .table {
	    min-width: 900px;
	}
	.filters li {
	    /*min-width: 120px;
	    padding: 10px;
	    position: relative;*/
	    margin-bottom: 5px;
	}
	.filters li label {
	    /*font-size: 11px;
	    color: #f9ac34;
	    position: absolute;
	    top: 0px;*/
	}
	.filters li md-select {
	    /*margin-bottom: -20px;*/
	}
	md-dialog{
	    min-height: 100% !important;
	    min-width: 100% !important;
	    border-radius: 0 !important;
	}
	.page-number-btn {
		display:none;
	}
	.page-number-btn.active {
		display:block;
	}
	.page-list .md-button {
		float: left;
	}
	.page-search {
	    position: absolute;
	    bottom: 3px;
	    right: 15px;
	}
}

@media screen and (max-width:1024px){
	.tbl-horizontal-scroll-xl {
		overflow-y: scroll;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
		background: #fff;
		margin-right: -20px;
		padding-bottom: 10px;
	}
	.tbl-horizontal-scroll-xl .table {
	    min-width:1024px;
	}
	.tbl-horizontal-scroll-xl .table-mac-address {
	overflow:hidden;
	}
}

@media screen and (max-width:1279px){
	.sub-header .btn-plain {
	    font-weight: 500;
	    font-size: 12px;
	}
	.sub-header	.btn-plain md-icon {
	    color: #f9ac34;
	    font-size: 17px;
	}
	.md-toolbar-tools .md-button {
	    min-width:auto;
	}
	.add-btn-top {
	    top: inherit;
	    bottom: 90px;
		right: 0px;
	}
	.add-btn-top.invoice-add {
	top: inherit;
	}
	.pagination-holder .sticky-pagination {
	    padding-left: 0px;
	    padding-right: 5px;
	}	
}

@media screen and (min-width: 600px) and (max-width: 665px){
.page-details {
		float: left;
	    width: 100%;
	    padding: 5px 10px 15px 10px;
	    box-sizing: border-box;
	    font-size: 11px;
	}
	/*.page-search {
	    position: absolute;
	    top: 3px;
	    right: 15px;
	}*/
		
	.page-list {
	    width: 100%;
	}
		
	.page-list .md-button {
	    width: auto;
	    min-width: auto;
	    padding: 1px 5px;
	    border-radius: 0px;
	    margin: 0 3px;
	    min-height: 21px;
	    line-height: normal;
	    color: #777;
		font-weight: 400;			    
	}
	.page-search input {
	    width: 38px;
	    padding: 1px 5px;
	}	
}

@media screen and (min-width: 600px) and (max-width: 799px) {
	.page-list {
	    width: 100%;
	}
	.login-contain {
	    width: 60%;
	}
	.forgot-password-contain {
	    width: 100%;
	    margin: auto;
	}	
	.col-wt-25 {
    	width: 50%;
	}
	.col-wt-50 {
    	width: 100%;
	}
}

@media screen and (min-width: 800px) and (max-width:1279px){
	.login-contain {
	    width: 45%;
	}
	.forgot-password-contain {
	    width: 100%;
	    margin: auto;
	}	
}

@media screen and (min-width: 520px) and (max-width: 1279px) {
	.toggleSidenav-btn {
    	padding: 14px 15px 0 15px;
	}
	.add-btn-top {
	    top: inherit;
	    bottom: 70px;
	    right: 10px;
	    width: 60px !important;
	    height: 60px !important;
	}	
		
}
@media screen and (min-width: 520px) and (max-width: 1370px) {
	.meshD-datepicker-full .md-datepicker-input-container {
	    width: 89% !important;
	}
	.page-details {
	    width: 100%;
	    margin-top: 6px;
	    padding: 1px 10px 1px 15px;
	}
	.page-list {
	    width: 100%;
	    padding-left: 7px;
	}
	
		
}

