<md-dialog  class="rs-dialog"  ng-cloak>
 
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ctrl.customerFlag ? "Update Customer" : "Add Customer"}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel(false)">
          <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
    	<form name="addCustomer" novalidate>
      	<div  class="rs-form add-invoice">
             <section layout="column">
               		<md-input-container flex>
                      <label>Customer Name</label>
                      <input type="text" name="customername" ng-model="ctrl.customer.name" ng-required="true" ng-maxlength="50" ng-disabled="ctrl.customerFlag" >
                     	<div  role="alert" ng-messages="addCustomer.customername.$error"  >
    						<div ng-message="required">Customer name required.</div>
    						<div ng-message="maxlength">Customer should not be more than 50 Characters.</div>
  						</div>
                    </md-input-container>
                   
                    <md-input-container flex>
                      <label>Address</label>
                      <textarea rows="2" name="address" md-select-on-focus ng-model="ctrl.customer.address" ng-required="true" ng-maxlength="512" ></textarea>
  						<div  role="alert" ng-messages="addCustomer.address.$error"  >
    						<div ng-message="required">Customer address required.</div>
    						<div ng-message="maxlength">Customer address should not be more than 512 Characters.</div>
  						</div>	
                    </md-input-container>
                    
                    <md-input-container flex>
                      <label>Ship To Address</label>
                      <textarea rows="2" name="shiptoaddress" md-select-on-focus  ng-model="ctrl.customer.shipAddress"  ng-required="true" ng-maxlength="512" ></textarea>
                   		<div  role="alert" ng-messages="addCustomer.shiptoaddress.$error"  >
    						<div ng-message="required">Ship To Address required.</div>
    						<div ng-message="maxlength">Ship To Address should not be more than 512 Characters.</div>
  						</div>
                    </md-input-container>
                    
                    <md-input-container flex>
                      <label>Ship Instructions</label>
                      <textarea rows="2" name="shipInstruction" md-select-on-focus ng-model="ctrl.customer.instructions" ng-maxlength="512" ></textarea>
                   		<div  role="alert" ng-messages="addCustomer.shipInstruction.$error"  >
    						<div ng-message="maxlength">Instructions should not be more than 512 Characters.</div>
  						</div>
                    </md-input-container>
               </section>
        </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="btn-clr-yellow" aria-label="Back"  ng-click="ctrl.cancel(false)">
       Cancel
      </md-button>
      <md-button class="btn-clr-yellow" ng-disabled="addCustomer.$invalid || $root.pauseEvent" ng-click="ctrl.addUpdateCustomer()" aria-label="Back">
       {{ctrl.customerFlag ? "Update":"Add"}}
      </md-button>
      <!-- <md-button class="btn-clr-yellow" ng-disabled="addCustomerForm.$invalid || addCustomerForm.$pristine"ng-click="updateCustomer(customer)" aria-label="Back">
        Update
      </md-button> -->
    </md-dialog-actions> 
 
</md-dialog>