<md-dialog  class="rs-dialog" aria-label="Mango (Fruit)"  ng-cloak>
  <form name="addUpdateForecastForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{$root.forecastFlag ? 'Update Forecast' : 'Add Forecast'}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
      	<div layout="row">
        	<md-input-container flex>
                <label>Customer Name</label>
                <md-select ng-model="ctrl.parent.newForecast.custName">
                	<md-select-header>
      						<span>Please Select Customer Name</span>
    				</md-select-header>
                   	<md-option ng-repeat="customer in ctrl.parent.customerList" ng-value="customer.name">{{customer.name}}</md-option>
                </md-select>
            </md-input-container>
        	 <md-input-container flex>
                <label>Sales Contact</label>
                <md-select ng-model="ctrl.parent.newForecast.salesMan">
                          <md-option ng-repeat="user in ctrl.parent.usersList" ng-value="user.userName">{{user.userName}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="column" class="date-picker-container">
              <label>Time Frame Estimate</label>
              <md-datepicker ng-model="ctrl.parent.newForecast.estDate" md-placeholder="Pic Date" flex></md-datepicker>
        </div>
        <div  layout="column">
        <md-input-container flex>
                <label>Notes</label>
                <textarea ng-model="ctrl.parent.newForecast.notes" rows="5" md-select-on-focus></textarea>
        </md-input-container>
        </div>
        <table class="table table-text-left table-bordered" ng-show="ctrl.parent.forecastItemVo.length > 0">
            <tbody>
            	<tr ng-repeat="product in ctrl.parent.forecastItemVo">
            	<td>{{product.psku}}</td>
                <td>{{product.quantity}}</td>
                <td><a href="" class="btn-edit" ng-click="ctrl.parent.editProduct($index)"><md-icon md-font-set="material-icons">mode_edit</md-icon></a></td>
                <td><a href="" class="btn-delete" ng-click="ctrl.parent.deleteProduct($index)"><md-icon md-font-set="material-icons">delete_forever</md-icon></a></td>
                </tr>
            </tbody>
        </table>
        <h4>Items</h4>
        <div layout="row" class="additem-box">
        	 <md-input-container flex>
                        <label>Item</label>
                        <md-select ng-model="ctrl.parent.productName">
                       	 <md-select-header>
      						<span>Please Select Product.</span>
    					</md-select-header>
                          <md-option ng-repeat="product in ctrl.parent.productsList" ng-value="product.psku">{{product.psku}}</md-option>
                        </md-select>
            </md-input-container>
            <md-input-container flex>
                <label>Qty</label>
                <input type="text" name="quantity" ng-model="ctrl.parent.quantity"  ng-pattern="/^\d*$/">
                <div class="error-msgs" ng-messages="addUpdateForecastForm.quantity.$error">
                    <span ng-message="pattern">Please enter valid quantity</span>
                </div>
            </md-input-container>
            <md-button class="md-raised btn-sm" ng-disabled="addUpdateForecastForm.$invalid" ng-show="ctrl.parent.addButton" ng-click=ctrl.parent.addProduct()>Add</md-button>
            <md-button class="md-raised btn-sm" ng-disabled="addUpdateForecastForm.$invalid" ng-show="ctrl.parent.updateButton" ng-click="ctrl.parent.updateProduct($index)">Update</md-button>
        </div>
        
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="btn-clr-yellow" ng-click="ctrl.parent.cancel()">
       Cancel
      </md-button>
      <md-button class="btn-clr-yellow" ng-disabled="addUpdateForecastForm.$invalid || $root.pauseEvent" ng-click="ctrl.parent.addUpdateForecast(ctrl.parent.newForecast)">
       {{$root.forecastFlag ? "Update" : "Add"}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>