<md-dialog  class="rs-dialog lg-rs-dialog" aria-label="Mango (Fruit)"  ng-cloak>
  
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ctrl.invoiceFlag ? "Update Purchase Order" : "Add Purchase Order"}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
            <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      	<div  class="rs-form add-invoice add-purchase-order" ng-show="!ctrl.showSearch">
      	<form name="addInvoice">
             <section layout="column" >
               <div class="flex" >
               		<div class="col-wt-25">
               		<md-input-container>
                      <label>Purchase Order Number</label>
                      <input type="text" ng-model="ctrl.newInvoice.invId" ng-disabled="true" >
                    </md-input-container>
                    </div>
                    
                    <div class="col-wt-25">
                     <md-input-container>
                        <label>Sales Rep</label>
                        <md-select name="salesRep" ng-model="ctrl.newInvoice.salesRep" required>
                        <md-select-header>
      						<span> Please select Sales Representative</span>
    					</md-select-header>
                          <md-option ng-repeat="user in ctrl.usersList" ng-value="user.userName">{{user.userName}}</md-option>
                        </md-select>
                       
                        <div  role="alert" ng-messages="addInvoice.salesRep.$error" >
    						<div ng-message="required">Sales Representative is required.</div>
  						</div>
                      </md-input-container>
                     </div>
                     
                     <div class="col-wt-25"> 
                    <md-input-container >
                      <label>Sales PO Id</label>
                      <input type="text" name="poNumber" ng-model="ctrl.newInvoice.poNumber" ng-required="true" ng-maxlength="50" >
                        <div  role="alert" ng-messages="addInvoice.poNumber.$error"  >
    						<div ng-message="required">Sales PO Id is required.</div>
    						<div ng-message="maxlength">Sales PO Id should not be more than 50 Characters.</div>
  						</div>
                    </md-input-container>
                    </div>
                    
                   <div  class="col-wt-25">
						<md-autocomplete 
						    md-selected-item="ctrl.newInvoice.customer"
						    md-selected-item-change="ctrl.selectedCustomerDetails(ctrl.newInvoice.customer.value)"
						    md-item-text="item.display"
						    md-search-text="ctrl.searchText"
						    md-items="item in ctrl.querySearch(ctrl.searchText)"
						    md-floating-label="Customer"
						    md-input-name="customer"
						    md-select-on-match="true"
						    md-match-case-insensitive="true"
						     md-autoselect="true"
						    name="customer"
						    md-no-cache="true"
						    ng-init="ctrl.newInvoice.customer.display"
						    ng-required="true" 
						     force-select >
						  <div layout="row" class="item" layout-align="start center">
						    &nbsp;&nbsp;
						    <span md-highlight-text="ctrl.searchText" >{{item.display}}</span>  
						  </div>
						  <div class="cust-required-msg" role="alert" ng-messages="addInvoice.customer.$error"  >
    						<div ng-message="required" >Customer is required.</div>
  						  </div>
						</md-autocomplete>
                        <div class="field-bottom-btns">
                        <div class="btn-right input-bottom-btn" aria-label="New" ng-click="ctrl.showCustomerDialog($event,true)">New</div>
                        <div class="btn-left input-bottom-btn" ng-click="ctrl.showCustomerDialog($event,false)" ng-disabled="ctrl.newInvoice.customer == null">Edit</div>
                        </div>
                    	
                   </div>
               </div>
               <div class="flex" >
               		<div  class="col-wt-50">
                    <md-input-container ng-show="!ctrl.showTerm">
                        <label>Term</label>
                        <md-select  name="term" ng-model="ctrl.newInvoice.termText" ng-required="!ctrl.showTerm">
                        	<md-select-header>
      							<span> Please select Term</span>
    						</md-select-header>
                        	<md-option ng-repeat="term in ctrl.termsList" ng-value="term">{{term.text}}</md-option>
                        </md-select>
                      <div class="field-bottom-btns"><div class="btn-left input-bottom-btn" aria-label="New" ng-click="ctrl.toggle()">New Term</div></div>
                      <div class="cust-required-msg" role="alert" ng-messages="addInvoice.term.$error" >
    						<div ng-message="required">Term is required.</div>
    				  </div>
                      </md-input-container>
                      </div>
                      
                      <div  class="col-wt-50">
                    <md-input-container  ng-show="ctrl.showTerm">
                      <label>Term</label>
                      <input type="text" name="showTerm" ng-model="ctrl.newInvoice.terms" ng-required="ctrl.showTerm" ng-maxlength="50" >
                      <div class="input-field-bottom-btns"><span aria-label="New" ng-click="ctrl.toggle()">Old Term</span></div>
                      <div class="cust-required-msg" class="error-msgs" ng-messages="addInvoice.showTerm.$error">
                          <span ng-message="required">Term is required.</span>
                          <span ng-message="maxlength">Term should not be more than 50 Characters.</span>
                      </div>
                    </md-input-container>
                     </div>
                     
                     <div  class="col-wt-25">
                       <md-input-container class="meshD-datepicker">
                      <label class="overflow-show">Purchase Order date</label>
                       <md-datepicker name="invDate" ng-model="ctrl.newInvoice.invJSDate" md-placeholder="Purchase Order date"  md-max-date="ctrl.todayDate" ng-required="true"  flex></md-datepicker>
                   		<div class="required-msg"  role="alert" ng-messages="addInvoice.invDate.$error" ng-show="addInvoice.invDate.$dirty && addInvoice.invDate.$invalid" >
							<div ng-message="required">Invoice date is required.</div>
						</div>
                   	 </md-input-container>
                   	 </div>
                   	 
                   	 <div  class="col-wt-25">
                    <md-input-container class="meshD-datepicker">
                    <label class="overflow-show">Payment Due Date</label>
    				   <md-datepicker name="dueDate" ng-model="ctrl.newInvoice.dueJSDate" md-placeholder="Payment Due Date" md-min-date="ctrl.newInvoice.invJSDate" flex></md-datepicker>
                   		<div role="alert" ng-messages="addInvoice.dueDate.$error" ng-show="addInvoice.dueDate.$dirty && addInvoice.dueDate.$invalid" >
							<div ng-message="required">Due date is required.</div>
						</div>
                    </md-input-container>
                    </div>
               </div>
               
               <div flex>
               		<table class="table table-text-left table-bordered  tbl-small-padding margin-bottom-30">
               			<thead>
               				<tr>
               					<th width="30%">Bill To</th>
               					<th width="30%">Ship To</th>
               					 <th  width="40%">Comments</th>
               				</tr>
               			</thead>
               			<tbody>
               				<tr>
               					
               					<td  width="30%"><pre>{{ctrl.newInvoice.billTo}}</pre></td>
               					<td  width="30%"><pre>{{ctrl.newInvoice.shipTo}}</pre></td>
               					<td  width="40%"><pre>{{ctrl.newInvoice.comments}}</pre></td>
               				</tr>
               			</tbody>
               		</table>
               </div>
               
                              
               <!-- <div class="flex" layout="column" layout-gt-xs="row">
                   <md-input-container flex>
                          <label>Comments</label>
                          <textarea ng-model="ctrl.newInvoice.comments" rows="1" md-select-on-focus ng-disabled="true"></textarea>
                   </md-input-container>
               		<md-input-container flex>
                      <label>Bill To</label>
                      <textarea ng-model="ctrl.newInvoice.billTo" rows="1" md-select-on-focus ng-disabled="true"></textarea>
                    </md-input-container>
                    <md-input-container flex>
                      <label>Ship To</label>
                      <textarea ng-model="ctrl.newInvoice.shipTo" rows="1" md-select-on-focus ng-disabled="true"></textarea>
                    </md-input-container>
               </div> -->
               
               </section>
        
               <!--<div class="devider"></div>-->
              
               <!-- <div class="-padding"><div class="devider"></div></div> -->
               <section layout="column" class="addInvoice-item">
               <div class="flex">
               		<div  class="col-wt-25">
               		<md-input-container flex>
                      <label>Item Total</label>
                      <input type="text" ng-model="ctrl.newInvoice.itemTotal" ng-disabled="true">
                    </md-input-container>
                    </div>
                    
                    <div  class="col-wt-25">
                    <md-input-container flex>
                      <label>Discount</label>
                      <input type="number" class="appearance-none" name="discount" ng-model="ctrl.newInvoice.discount"  ng-max="ctrl.newInvoice.amountbeforeDiscount" ng-min="0"  ng-keyup="ctrl.calculateTotalAndAmount()" ng-required="true"  >
                      <div class="error-msgs" ng-messages="addInvoice.discount.$error">
                    
                          <span ng-message="required">Please is required.</span>
                          <span ng-message="max">Discount should be less than Sub Total.</span>
                          <span ng-message="min">Discount should be greater than or equal to 0.</span>
                          <div ng-message="required">Discount is required.</div>
                      </div>
                    </md-input-container>
                    </div>
                    
                    <div  class="col-wt-25">
                    <md-input-container flex>
                      <label>Sub Total</label>
                      <input type="text" ng-model="ctrl.newInvoice.amount" ng-disabled="true">
                    </md-input-container>
                    </div>
                    
                    <div  class="col-wt-25">
                    <md-input-container flex>
                      <label>Shipping</label>
                      <input type="number" name="shipping" class="appearance-none" ng-model="ctrl.newInvoice.shipping" ng-max="1000000"  ng-min="0" ng-keyup="ctrl.calculateTotalAndAmount()" ng-required="true" >
                      <div class="error-msgs" ng-messages="addInvoice.shipping.$error">
                          <span ng-message="min">Discount should be greater than or equal to  0.</span>
                          <span ng-message="max" >Shipping cost should be less than eight digits.</span>
                          <span ng-message="required">Shipping is required.</span>
                     </div>
                    </md-input-container>
                    </div>
               </div>
               </section>
           </form>
           <purchase-order-item></purchase-order-item>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="btn-clr-yellow" ng-click="ctrl.cancel(true)">
       Cancel
      </md-button>
      <md-button class="btn-clr-yellow" type="submit"  ng-disabled="addInvoice.$invalid || ctrl.invoiceitems.length == 0 || $root.pauseEvent || updateButton" ng-click="ctrl.addUpdateInvoice()">
       {{ctrl.invoiceFlag ? "Update": "Add"}}
      </md-button>
    </md-dialog-actions>
 
</md-dialog>
