<md-dialog  class="rs-dialog" aria-label="Mango (Fruit)"  ng-cloak>
  <form name="addInventoryForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ctrl.inventoryFlag ? "Update Inventory":"Add Inventory"}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
            <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
        	<md-input-container>
                <label>Item SKU</label>
                <input type="text" name="rsku" ng-model="ctrl.newInventory.rsku" ng-required="true" ng-disabled="ctrl.inventoryFlag" ng-maxlength="50">
                <div class="error-msgs" ng-messages="addInventoryForm.rsku.$error">
                    <span ng-message="required">Item SKU required.</span>
                    <span ng-message="maxlength">Item SKU should not be greater than 50 characters.</span>
                 </div>
            </md-input-container>
            <md-input-container>
                <label>Item Description</label>
                <textarea name="inventoryDescription" rows="5" md-select-on-focus  ng-model="ctrl.newInventory.description" ng-maxlength="255"></textarea>
            	<div class="error-msgs" ng-messages="addInventoryForm.inventoryDescription.$error">
                  <span ng-message="maxlength">Item description should not be greater than 255 characters.</span>
                 </div>
            </md-input-container>
             <md-input-container>
                <label>Comments</label>
                <textarea name="inventoryComments" ng-model="ctrl.newInventory.comment" rows="5" ng-maxlength="255" md-select-on-focus></textarea>
            	<div class="error-msgs" ng-messages="addInventoryForm.inventoryComments.$error">
                  <span ng-message="maxlength">Item comments should not be greater than 255 characters.</span>
                 </div>
            </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="btn-clr-yellow" ng-click="ctrl.cancel()">
       Cancel
      </md-button>
      <md-button class="btn-clr-yellow" ng-disabled="addInventoryForm.$invalid || $root.pauseEvent" ng-click="ctrl.addUpdateInventory()">
      {{ctrl.inventoryFlag ? "Update":"Add"}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>