<md-dialog  class="rs-dialog" aria-label=""  ng-cloak>
 
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ ctrl.parent.update ? 'Update':'Create'}} Job Order</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.parent.cancel()">
            <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
     
      <div class="md-dialog-content rs-form"  layout="column">
     <form name="addJobOrder" novalidate >
	    <div layout="column">
		        <!-- <md-input-container flex>
		                <label>Purchase Order Id - Customer </label>
		                <md-select ng-model="ctrl.parent.newJob.invoice" ng-change="ctrl.parent.changeJobItems()" name="invId" ng-required="true"  ng-disabled="ctrl.parent.update? true: false">
			                <md-select-header>
	      						<span>Please Select Purchase Order Id.</span>
	    					</md-select-header>
		                    <md-option ng-repeat="invoice in ctrl.parent.purchaseOrders | filter:{status:'open'}"  ng-value="invoice" >{{invoice.invId}} | {{invoice.custName}}</md-option>
		                </md-select>
		                <div class="error-job-order" ng-show="addJobOrder.invId.$dirty && ctrl.parent.jobItems.length < 1" ng-bind="ctrl.parent.jobItemErrorMessage"></div>
		                <div role="alert" ng-messages="addJobOrder.invId.$error" >
							<div ng-message="required" >Purchase Order is required</div>
						</div>
		        </md-input-container> -->
		         <md-autocomplete 
						    md-selected-item="ctrl.parent.newJob.invoice"
						    md-selected-item-change="ctrl.parent.changeJobItems()"
						    md-item-text="item.display"
						    md-search-text="ctrl.searchText"
						    md-items="item in ctrl.parent.querySearch(ctrl.searchText)"
						    md-floating-label="Purchase Order"
						    md-input-name="purchaseorder"
						    name="purchaseorder"
						    md-no-cache="true"
						    ng-required="true"
						    ng-disabled="ctrl.parent.update"
						    ng-init="ctrl.parent.newJob.invoice.display"
						    md-select-on-match="true"
						    md-match-case-insensitive="true"
							 md-autoselect="true"
						     force-select >
						  <div layout="row" class="item" layout-align="start center">
						    &nbsp;&nbsp;
						    <span md-highlight-text="ctrl.parent.searchText" >{{item.display}}</span>  
						  </div>
						  <div class="cust-required-msg" role="alert" ng-messages="shipOrder.invoice.$error"  >
    						<div ng-message="required" >Purchase Order is required.</div>
  						  </div>
			</md-autocomplete>
			<div class="error-job-order" ng-show="addJobOrder.purchaseorder.$dirty && ctrl.parent.jobItems.length < 1" ng-bind="ctrl.parent.jobItemErrorMessage"></div>
				<md-input-container class="meshD-datepicker-full">
		       		<label>Need By</label>
		        	<md-datepicker name="needby" ng-required="true" md-min-date="ctrl.parent.minimumNeedBy"  md-placeholder="Pic Date"   ng-model="ctrl.parent.newJob.needByJSDate" flex></md-datepicker>
		       		 <div role="alert" ng-messages="addJobOrder.needby.$error" >
							<div ng-message="required" style="margin-left:0px;" >Need By date is required</div>
					</div>
		        </md-input-container>
	     </div>
		<div layout="column">
     
	      </div>	
	</form>
	<job-order-picker></job-order-picker> 
	</div>
    </md-dialog-content>
   <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="btn-clr-yellow" ng-click="ctrl.parent.cancel()" >
       Cancel
      </md-button>
     <!-- <div ng-show="!ctrl.parent.formValid">
      <md-button class="btn-clr-yellow" ng-disabled="true"  ng-click="addJobOrder.$setPristine();addJobOrder.$setUntouched();ctrl.parent.addJobOrder();" >
        Save
      </md-button>
      </div> -->
      <div >
      <md-button class="btn-clr-yellow" ng-disabled="addJobOrder.$invalid || ctrl.parent.jobItems.length == 0 || $root.pauseEvent || ctrl.parent.updateButton"  ng-click="addJobOrder.$setPristine();addJobOrder.$setUntouched();ctrl.parent.addJobOrder();" >
        Save
      </md-button>
      </div>
    </md-dialog-actions>
 
</md-dialog>