<md-dialog  class="rs-dialog" aria-label="Mango (Fruit)"  ng-cloak>
  <form name="addPayment">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Payment</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
            <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
      
      		<md-input-container>
                <label>Select Open Payment</label>
                <md-select ng-model="ctrl.newInvoicePayment.selectedPayment" ng-change="ctrl.setAmount()" >
                <md-select-header>
      						<span>Please select open payment</span>
    			</md-select-header>
                    <md-option ng-repeat="openPayment in ctrl.openPaymentList" ng-value="openPayment">{{openPayment.rpId}} | {{openPayment.custName}} | Amt:{{openPayment.amount}}</md-option>
                </md-select>
            </md-input-container>
                   
            <div layout="column" class="date-picker-container">
              <label>Recognition Number</label>
              <md-datepicker flex   md-placeholder="Pic Date" ng-model="ctrl.newInvoicePayment.paysDate" md-min-date="ctrl.todaysDate" ng-required="true" ng-model-options="{ timezone: 'utc' }"></md-datepicker>
        	</div>
            
        	<md-input-container>
                <label>Amount</label>
                <input type="text" ng-model="ctrl.newInvoicePayment.amount" readonly >
            </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="btn-clr-yellow" ng-click="ctrl.cancel()">
       Cancel
      </md-button>
      <md-button class="btn-clr-yellow" ng-click="ctrl.addInvoicePayment()" ng-disabled="addPayment.$invalid || $root.pauseEvent" >
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>