<md-dialog  class="rs-dialog" aria-label="Mango (Fruit)"  ng-cloak>
  <form name="addPaymentForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Payment</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
           <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
      		<div flex>
              <!--   <md-select name="customer" ng-model="ctrl.newPayment.custId" ng-required="true" >
                <md-select-header>
      						<span>Please select Customer</span>
    			</md-select-header>
                    <md-option ng-repeat="customer in ctrl.customerList" ng-value="customer.custId">{{customer.name}}</md-option>
                </md-select> -->
                <md-autocomplete 
						    md-selected-item="ctrl.newPayment.customer"
						    md-item-text="item.display"
						    md-search-text="ctrl.parent.searchText"
						    md-items="item in ctrl.querySearch(ctrl.parent.searchText)"
						    md-floating-label="Select Customer"
						    md-input-name="customer"
						    name="customer"
						    md-no-cache="true"
						    md-select-on-match="true"
						    md-match-case-insensitive="true"
						    ng-required="true"
						    md-autoselect="true"
						     force-select >
						  <div layout="row" class="item" layout-align="start center">
						    &nbsp;&nbsp;
						    <span md-highlight-text="ctrl.parent.searchText" >{{item.display}}</span>  
						  </div>
				</md-autocomplete>
                
            </div>
        	<md-input-container>
                <label>Amount</label>
                <input type="number" class="appearance-none" name="amount" required min="1" ng-model="ctrl.newPayment.amount" >
            		<div class="error-msgs" ng-messages="addPaymentForm.amount.$error">
                    	<span ng-message="min">Amount should not be less than 1.</span>
                    	<span ng-message="required">Amount is required.</span>
                	</div>
            </md-input-container>
            <md-input-container>
                <label>Notes</label>
                <textarea name="paymentNotes" rows="5" md-select-on-focus  ng-model="ctrl.newPayment.notes" ng-maxlength="255"></textarea>
                <div class="error-msgs" ng-messages="addPaymentForm.paymentNotes.$error">
                    	<span ng-message="maxlength">Notes should not be greater than 255 characters</span>
                	</div>
            </md-input-container>
            <div>
    			<md-datepicker ng-model="ctrl.newPayment.created" md-min-date="ctrl.todayDate" md-placeholder="Payment Date"  ng-model-options="{ timezone: 'utc' }"  flex required></md-datepicker>
            </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="btn-clr-yellow" ng-click="ctrl.cancel()">
       Cancel
      </md-button>
      <md-button class="btn-clr-yellow" ng-disabled="addPaymentForm.$invalid || $root.pauseEvent" ng-click="ctrl.addPayment()">
        Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>