<md-dialog  class="rs-dialog" aria-label="Mango (Fruit)"  ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ctrl.productFlag ? 'Update Product' : 'Add Product'}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
           <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
      <form name="addUpdateProductForm" novalidate>
           <section layout="column">
        	<md-input-container>
                <label>Product SKU</label>
                <input type="text" name="psku" ng-model="ctrl.newProduct.psku" ng-required="true" ng-disabled="ctrl.productFlag" ng-maxlength="50" >
                 <div class="error-msgs" ng-messages="addUpdateProductForm.psku.$error">
                    <span ng-message="required">Product SKU is required.</span>
                    <span ng-message="maxlength">Product SKU should not be greater than 50 characters.</span>
                 </div>
            </md-input-container>
            <md-input-container>
                <label>Product Description</label>
                <textarea name="productDescription" ng-model="ctrl.newProduct.description" rows="3" ng-maxlength="255" md-select-on-focus></textarea>
            	<div class="error-msgs" ng-messages="addUpdateProductForm.productDescription.$error">
                  <span ng-message="maxlength">Item comments should not be greater than 255 characters.</span>
                 </div>
            </md-input-container>
             
            </section>
            
            <div  layout="row" layout-xs="column">
               		 <md-input-container flex>
               			 <label>Max Vlan Count </label>
                		<input type="number"  class="appearance-none" name="maxVlanCount" ng-min="0" ng-max="4096" ng-model="ctrl.newProduct.maxVlanCount" ng-required="true"  >
		                 <div class="error-msgs" ng-messages="addUpdateProductForm.maxVlanCount.$error">
		                    <span ng-message="required">Max Vlan Count is required.</span>
		                    <span ng-message="max">Vlan should not be more than 4096.</span>
		                    <span ng-message="min">Vlan should be positive or 0.</span>
		                 </div>
               		 </md-input-container>
               		 <md-input-container flex>
               			 <label>Max App Count</label>
                		<input type="number"  class="appearance-none" name="maxAppCount" ng-min="0" ng-max="10" ng-model="ctrl.newProduct.maxAppCount" ng-required="true"  >
		                 <div class="error-msgs" ng-messages="addUpdateProductForm.maxAppCount.$error">
		                    <span ng-message="required">Max App Count is required.</span>
		                    <span ng-message="max">App should not be more than 10.</span>
		                    <span ng-message="min">App should be positive or 0.</span>
		                 </div>
               		 </md-input-container>
               	</div>
               	
        </form>
            
       <h4>Component Items</h4>
        <form name="addInventoryForm">    
        <div layout="row" layout-xs="column" class="additem-box padding_top">
        	 <md-input-container flex>
                 <label>Item</label>
                 <md-select name="inventoryItem" ng-model="ctrl.selectedItem" ng-required="true">
                 	<md-select-header>
      						<span>Please Select Item.</span>
    				</md-select-header>
                    <md-option ng-value="items.rsku" ng-repeat="items in ctrl.inventoryItem">{{items.rsku}}</md-option>
                 </md-select>
                 <div  role="alert" ng-messages="addInventoryForm.inventoryItem.$error" >
    						<div ng-message="required">Item rsku is required.</div>
  						</div>
            </md-input-container>
            <md-input-container flex>
                <label>Qty</label>
                <input type="number" class="appearance-none" name="quantity" ng-model="ctrl.quantity" ng-required="true" min="1" max="100">
                <div class="error-msgs" ng-messages="addInventoryForm.quantity.$error">
                    <span ng-message="min">Qty should not be less than 1.</span>
                   	<span ng-message="max">Qty should not be more than 100.</span>
                    <span ng-message="required">Please enter valid quantity</span>
                </div>
               
            </md-input-container>
            <md-button class="md-raised btn-sm" ng-show="ctrl.addButton" ng-disabled="addInventoryForm.$invalid" ng-click="ctrl.addItem();addInventoryForm.$setUntouched();">Add</md-button>
            <md-button class="md-raised btn-sm" ng-show="ctrl.updateButton" ng-disabled="addInventoryForm.$invalid" ng-click="ctrl.updateItem();addInventoryForm.$setUntouched();">Update</md-button>
        </div>
        </form>
        
		<table class="table table-text-left table-bordered margin-top_20" ng-show="ctrl.productItems.length > 0">
            <thead>
              <tr>
                  <th>Product Item</th>
                  <th>Product Qty</th>
                  <th width="30">Edit</th>
               	  <th width="30">Delete</th>
              </tr>
             </thead>
            <tbody>
              <tr ng-repeat="productItem in ctrl.productItems">
                  <td>{{productItem.rsku}}</td>
                  <td>{{productItem.quantity}}</td>
                  <td width="30">
                  	<a href="" class="btn-edit" ng-click="ctrl.editItem($index)"><md-icon md-font-set="material-icons">mode_edit</md-icon></a>
                  </td>
                 <td width="30">
                  	<a href="" class="btn-delete" ng-click="ctrl.deleteItem($index)"><md-icon md-font-set="material-icons">delete_forever</md-icon></a>
                 </td>
              </tr>
             </tbody>
           </table>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="btn-clr-yellow" ng-click="ctrl.cancel()">
       Cancel
      </md-button>
      <md-button class="btn-clr-yellow" ng-disabled="addUpdateProductForm.$invalid || ctrl.productItems.length == 0 || $root.pauseEvent || ctrl.updateButton" ng-click="ctrl.addUpdateProduct()">
        {{ctrl.productFlag ? "Update":"Add"}}
      </md-button>
    </md-dialog-actions>
  
</md-dialog>