<md-dialog  class="rs-dialog" aria-label="Mango (Fruit)"  ng-cloak>
 
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ ctrl.parent.update ? 'Update':'Create'}} Ship Order</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.parent.cancel()">
            <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
      <form name="shipOrder">
      	<div flex >
        	<!-- <md-input-container flex>
                        <label>Purchase Order Number</label>
                        <md-select  name="invoice" ng-required="true" ng-change="ctrl.parent.getCustomer(ctrl.parent.shipOrder.invoice)" ng-model="ctrl.parent.shipOrder.invoice" ng-disabled="ctrl.parent.update" >
                         <md-select-header>
	      						<span>Please Select Purchase Order</span>
	    				 </md-select-header>
                          <md-option ng-repeat="invoice in ctrl.parent.invoiceList"  ng-value="invoice" >{{invoice.invId}} {{invoice.custName}} (Amt:{{invoice.amount}})</md-option>
                        </md-select>
                        <div  role="alert" ng-messages="shipOrder.invoice.$error"  >
    						<div ng-message="required">Purchase Order is required.</div>
  						</div>
            </md-input-container>  --> 
            <md-autocomplete 
						    md-selected-item="ctrl.parent.shipOrder.invoice"
						    md-selected-item-change="ctrl.parent.getCustomer(item)"
						    md-item-text="item.display"
						    md-search-text="ctrl.searchText"
						    md-items="item in ctrl.parent.querySearch(ctrl.searchText)"
						    md-floating-label="Purchase Order"
						    md-input-name="purchaseorder"
						    name="purchaseorder"
						    md-no-cache="true"
						    ng-required="true" 
						    md-select-on-match="true"
						    md-match-case-insensitive="true"
						    md-autoselect="true"
						    ng-disabled="ctrl.parent.update"
						     force-select >
						  <div layout="row" class="item" layout-align="start center">
						    &nbsp;&nbsp;
						    <span md-highlight-text="ctrl.parent.searchText" >{{item.display}}</span>  
						  </div>
						  <div class="cust-required-msg" role="alert" ng-messages="shipOrder.invoice.$error"  >
    						<div ng-message="required" >Purchase Order is required.</div>
  						  </div>
			</md-autocomplete>
        </div>
      	<div layout="row" layout-xs="column">
        	<md-input-container flex flex-xs>
                <label>ATTN to</label>
                <input type="text" ng-model="ctrl.parent.shipOrder.custName" ng-disabled="true" >
            </md-input-container>
        	<md-input-container flex flex-xs>
                <label>Phone Number</label>
                <input type="text" name="phone" ng-model="ctrl.parent.shipOrder.phone" ng-maxlength="50">
                <div class="cust-required-msg" role="alert" ng-messages="shipOrder.phone.$error"  >
    				<div ng-message="maxlength">Phone Number should not be more than 50 Characters.</div>
  				</div>
            </md-input-container>
        </div>
        <div  layout="row" >
        	<table class="table table-text-left table-bordered tbl-less-padding margin-bottom-30">
               			<thead>
               				<tr>
               					<th>Ship To</th>
               					<th>Ship Instructions</th>
               				</tr>
               			</thead>
               			<tbody>
               				<tr>
               					
               					<td><pre>{{ctrl.parent.shipOrder.address}}</pre></td>
               					<td><pre>{{ctrl.parent.shipOrder.instructions}}</pre></td>
               				</tr>
               			</tbody>
               		</table>
	        <!-- <md-input-container flex>
	                <label>Ship to</label>
	                <textarea  rows="5" md-select-on-focus ng-model="ctrl.parent.shipOrder.address" ng-disabled="true" ></textarea>
	        </md-input-container>
	        <md-input-container flex>
	                <label>Instructions</label>
	                <textarea rows="5" md-select-on-focus  ng-model="ctrl.parent.shipOrder.instructions" ng-disabled="true" ></textarea>
	        </md-input-container>  -->
        </div>
        
        <div  layout="column" >
        	<table class="table table-text-left table-bordered tbl-less-padding margin-bottom-30">
               			<thead>
               				<tr>
               					<th>Ship To</th>
               					<th>Ship Instructions</th>
               				</tr>
               			</thead>
               			<tbody>
               				<tr>
               					
               					<td><pre>{{ctrl.parent.shipOrder.address}}</pre></td>
               					<td><pre>{{ctrl.parent.shipOrder.instructions}}</pre></td>
               				</tr>
               			</tbody>
               		</table>
               		
        </div>
        <div layout="column">
        <md-input-container flex>
                        <label>Job Id</label>
                        <md-select  name="jobId" ng-required="true" ng-model="ctrl.parent.shipOrder.jobOrder" ng-disabled="ctrl.parent.update" ng-change="ctrl.parent.setShipOrderProducts()" >
                        	<md-select-header>
	      						<span>Please Select Job Id</span>
	    					</md-select-header>
                          <md-option ng-repeat="joborder in ctrl.parent.jobOrderList"  ng-value="joborder" >{{joborder.jobId}}</md-option>
                        </md-select>
                        <div  role="alert" ng-messages="shipOrder.jobId.$error" >
    						<div ng-message="required">Job Id is required.</div>
  						</div>
        </md-input-container>
        </div>
         <md-input-container flex>
       <div layout="column" class="date-picker-container">
              <label>Need By</label>
              <md-datepicker name="needBy" md-placeholder="Pic Date" md-min-date="ctrl.parent.minimumNeedBy" flex ng-model="ctrl.parent.shipOrder.shipBy" ng-required="true" ></md-datepicker>
        </div>
        <div role="alert" ng-messages="shipOrder.needBy.$error"  >
			<div ng-message="required" style="margin-left:0px;">Need By date is required.</div>
		</div>
		 </md-input-container>
        </form>
		<div>
			<h4>Items</h4>
			<table class="table table-text-left table-bordered">
				<thead>
			    	<tr>
				    	<th>Item</th>
				        <th>Qty</th>
			        </tr>
			    </thead>
			    <tbody>
			    	<tr ng-repeat="productItem in ctrl.parent.productItems">
			          	<td>{{productItem.psku}}</td>
			          	<td>{{productItem.quantity}}</td>
			       </tr>
			    </tbody>
			</table>
		</div> 
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="btn-clr-yellow" ng-click="ctrl.parent.cancel()">
       Cancel
      </md-button>
      <md-button class="btn-clr-yellow" ng-click="ctrl.parent.addShipOrder()" ng-disabled="shipOrder.$invalid || ctrl.parent.productItems.length == 0 || $root.pauseEvent" >
      <!-- <md-button class="btn-clr-yellow" ng-click="ctrl.parent.updateShipOrder()" ng-disabled="shipOrder.$invalid" > -->
        Save
      </md-button>
    </md-dialog-actions>
  
</md-dialog>