<md-dialog  class="rs-dialog" aria-label="Mango (Fruit)"  ng-cloak>
  <form name="addUserForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ctrl.userFlag ? 'Update User' : 'Add User'}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
            <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column"> 
      	<div layout="row" layout-xs="column">
        	 <md-input-container flex>
				<label>Full Name</label>
				<input type="text" name="fullName" ng-required="true" ng-model="ctrl.newUser.fullName" ng-maxlength="50" >
				<div  role="alert" ng-messages="addUserForm.fullName.$error" >
						<div ng-message="required">Fullname is required.</div>
						<div ng-message="maxlength">Fullname should not be greater than 50 characters</div>
				</div>
            </md-input-container>
            <md-input-container flex>
                <label>User Name</label>
                <input type="text" name="userName" ng-model="ctrl.newUser.userName" ng-required="true" ng-disabled="ctrl.userFlag" ng-maxlength="50" ng-pattern="/^([A-Za-z]|[0-9]|_)+$/">
                <div  role="alert" ng-messages="addUserForm.userName.$error" >
						<div ng-message="required">Username is required.</div>
						<div ng-message="maxlength">Username should not be greater than 50 characters</div>
						<div ng-message="pattern">Username should be alphanumeric.</div>
				</div>
            </md-input-container>
        </div>
        <div layout="column">
        	 <md-input-container >
                        <label>Email</label>
                        <input type="email" name="email" ng-model="ctrl.newUser.email" ng-required="true" ng-maxlength="50" >
                        <div  role="alert" ng-messages="addUserForm.email.$error" >
							<div ng-message="required">Email is required.</div>
							<div ng-message="maxlength">Email should not be greater than 50 characters</div>
						</div>
            </md-input-container>
        </div>
        <div layout="row" layout-xs="column">
        	 <md-input-container flex>
                <label>Roles</label>
                <md-select name="roles" ng-model="ctrl.newUser.roles" ng-required="true" ng-change="ctrl.flushViews()" >
                          <md-option  ng-repeat="role in ctrl.roles" ng-value="role" >{{role}}</md-option>
                </md-select>
                <div  role="alert" ng-messages="addUserForm.roles.$error" >
						<div ng-message="required">Roles is required.</div>
				</div>
            </md-input-container>
            <md-input-container flex>
                <label>Views</label>
                <md-select ng-model="ctrl.newUser.views" multiple ng-required="true" >
                <md-optgroup label="Views">
                          <md-option ng-repeat="view in ctrl.views" ng-value="view" ng-disabled="ctrl.isManageUserDisabled(view)" >{{view}}</md-option>
                          </md-optgroup>
                </md-select>
                <div  role="alert" ng-messages="addUserForm.views.$error" ng-required="true" >
						<div ng-message="required">Views are required.</div>
				</div>
            </md-input-container>
        </div>
        <div layout="row" layout-xs="column">
        	 <md-input-container flex ng-if="!ctrl.userFlag">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="ctrl.newUser.password" ng-minlength="8" ng-maxlength="32" ng-required="true" >
                        <div  role="alert" ng-messages="addUserForm.password.$error" >
							<div ng-message="required">Password is required</div>
							<div ng-message="minlength">Password must be of minimum 8 characters length</div>
							<div ng-message="maxlength">Password must be of maximum 32 characters length</div>
						</div>
            </md-input-container>
            <md-input-container flex  ng-if="!ctrl.userFlag">
                <label>Confirm password</label>
                <input type="password" name="cpassword" ng-model="ctrl.newUser.cpassword" valid-password-c="ctrl.newUser.password" ng-required="true" >
                <div  role="alert" ng-messages="addUserForm.cpassword.$error" >
					<div ng-message="required" >Confirm password is required</div>
					<div ng-message="noMatch" >Password and Confirm password must be same and valid.</div>
				</div>
            </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="btn-clr-yellow" ng-click="ctrl.cancel()">
       Cancel
      </md-button>
      <md-button class="btn-clr-yellow" ng-click="ctrl.addUser()"  ng-disabled="addUserForm.$invalid || $root.pauseEvent" >
        {{ctrl.userFlag ? 'Update' : 'Add'}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>