<md-dialog  class="rs-dialog"  ng-cloak>
  <form class="alert-dialog" name="completeForm" >
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
        	       <div class="alert-icon-holder"><md-icon md-font-set="material-icons"> help_outline </md-icon> </div>
                   <br>
                   <h3>Job Completion</h3>
                   <!-- <p></p>  
                   <br> -->
                   <p>{{ctrl.parent.title}}</p>
                   <div layout="column" class="date-picker-container">
              			<label>Finish Date</label>
              			<md-datepicker ng-model="ctrl.parent.newJob.finished" ng-required="true" md-min-date="ctrl.parent.newJob.acknowledged" md-placeholder="Pic Date"  ng-model-options="{ timezone: 'utc' }"  flex></md-datepicker>
					</div>    
      </div>
      <md-button class="btn-clr-yellow" ng-click="ctrl.parent.cancel()">
       Cancel
      </md-button>
      <md-button class="btn-clr-yellow" ng-click="ctrl.parent.addJobOrder()" ng-disabled="completeForm.$invalid || $root.pauseEvent" >
        Change
      </md-button>
    </md-dialog-content>
  </form>
</md-dialog>