<md-dialog  class="rs-dialog" aria-label="Mango (Fruit)"  ng-cloak>
  <form class="alert-dialog" name="acknowledgeForm">
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
        	       <div class="alert-icon-holder"><md-icon md-font-set="material-icons"> help_outline </md-icon> </div>
                   <br>
                   <h3>Job Notification</h3>
                   <!-- <p></p>  
                   <br> -->
                   <p>{{ctrl.parent.title}}</p>
                   <div layout="column" class="date-picker-container">
              			<label>Acknowledged Date</label>
              			<md-datepicker md-min-date="ctrl.parent.newJob.created" md-placeholder="Pic Date" flex ng-model="ctrl.parent.newJob.acknowledged" ng-required="true"  ng-model-options="{ timezone: 'utc' }"  ></md-datepicker>
					</div>    
      </div>
      <md-button class="btn-clr-yellow" ng-click="ctrl.parent.cancel()">
       Cancel
      </md-button>
      <md-button class="btn-clr-yellow" ng-click="ctrl.parent.addJobOrder()" ng-disabled="acknowledgeForm.$invalid || $root.pauseEvent" >
        Change
      </md-button>
    </md-dialog-content>
  </form>
</md-dialog>