<md-dialog  class="rs-dialog" ng-cloak>
  <form class="alert-dialog">
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
        	       <div class="alert-icon-holder"><md-icon md-font-set="material-icons"> help_outline </md-icon> </div>
                   <br>
                   <h3>Reminder</h3>
                   <!-- <p></p>  
                   <br> -->
                   <p>{{ctrl.title}}</p>    
      </div>
      <md-button class="btn-clr-yellow" ng-click="ctrl.cancel()">
       Cancel
      </md-button>
      <md-button class="btn-clr-yellow" ng-click="ctrl.deleteEntry()">
        0k
      </md-button>
    </md-dialog-content>
  </form>
</md-dialog>