<md-dialog  class="rs-dialog lg-rs-dialog" aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ctrl.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
           <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
      
        <ul class="mac-count">
        	<li class="clr-gray">Customer : <span>{{ctrl.macRange.customerName}}</span></li>
            <li class="clr-gray">Purchase Order No : <span>{{ctrl.macRange.invId}}</span><br><br></li>
        	<li>Total MAC Address: <span>{{ctrl.macRange.totalMac}}</span></li>
            <li>Available MAC Address: <span>{{ctrl.macRange.availableMac}}</span></li>
        </ul>
        <ul class="filters model-filters">
        		
          		<li layout="row">
                    <label flex="40">Filter By :</label>
                    <md-select ng-model="ctrl.selectedFilter"  flex placeholder="None">
                    	<md-option ng-value="" >None</md-option>
                        <md-option ng-repeat="filter in ctrl.filters" ng-value="filter.key" >{{ filter.value }}</md-option>
                    </md-select>
                </li>
                <li layout="row" class="search-box" ng-hide="ctrl.selectedFilter === undefined || ctrl.selectedFilter == ''" >
	            			 <md-icon md-font-set="material-icons" > search </md-icon>
	                        <input ng-model="ctrl.searchText" placeholder="enter search"  flex> 
	             </li>
                 <li class="btn-li">
	             <md-button class="submit-search" ng-click="ctrl.setCriteria()" ><md-icon md-font-set="material-icons" > search </md-icon></md-button>
          		</li>
	    	     <li layout="row" class="pull-right">
                    	<label flex="60" class="no-wrap-sm">Records per page:</label>
	                    <md-select ng-model="ctrl.pagination.perPageItemCount" flex placeholder="10">
	                        <md-option  ng-value="10" >10</md-option>
	                        <md-option ng-value="25" >25</md-option>
	                    </md-select>
               	</li>
          		
          </ul>
        <table class="table table-bordered">
        	<thead>
        	<tr>
            	<th>Item</th>
            	<th>Board Mac Address</th>
            	<th>Version</th>
                <th>MAC Address</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
          <tr ng-repeat="macDetailsInvoice in ctrl.macRange.macDetailsInvoiceItemList">
            <td>{{macDetailsInvoice.psku}} <span ng-if="macDetailsInvoice.app != '' && macDetailsInvoice.vlan != ''" >(</span>{{macDetailsInvoice.app}} <span ng-if="macDetailsInvoice.vlan != ''" >,</span> {{macDetailsInvoice.vlan}}<span  ng-if="macDetailsInvoice.app != '' && macDetailsInvoice.vlan != ''" >)</span></td>
            <td>{{macDetailsInvoice.boardMac | uppercase}}</td>
            <td>{{macDetailsInvoice.version}}</td>
            <td><div ng-repeat="macAddresss in macDetailsInvoice.macList">{{macAddresss}}<br></div></td>
            <td>{{macDetailsInvoice.macCount}}</td>
          </tr>
          </tbody>
        </table>
       
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="dialog-pagination"> 
       <pagination is-pagination-in-dailog="true" per-page-item-count="{{ctrl.pagination.perPageItemCount}}" total-pages-to-show="6" method="ctrl.getMacRangeList(pageNumber,setPagination)" ></pagination>
    </md-dialog-actions>
  </form>
</md-dialog>
