<md-dialog  class="rs-dialog lg-rs-dialog" aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Shipment Orders for Purchase Order No <b>{{ctrl.invoiceId}}</b></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
          <div>
               <div class="invoices-scroll" ng-scrollbar>
               <table class="table table-text-left table-striped table-hover table-bordered">
               		<thead>
                    	<tr>
                        	<th>ID</th>
                            <th>State</th>
                            <th>Item</th>
                            <th>Committed By</th>
                        </tr>
                    </thead>
               		<tbody>
                    	<tr ng-repeat="shippedOrderList in ctrl.shippedOrdersList">
                        	<td>{{shippedOrderList.shipId}}</td>
                            <td>{{shippedOrderList.state}}</td>
                            <td>
                            	<table class="child-table">
                                	<tr ng-repeat="shippedOrder in shippedOrderList.shipItems">
                                    	<td class="td-word-wrap-minWidth">{{shippedOrder.psku}}</td>
                                        <td>:</td>
                                        <td class="column-xs">{{shippedOrder.quantity}}</td>
                                    </tr>
                                </table>
                            </td>
                            <td>{{shippedOrderList.commitBy | dateFilter }}</td>
                        </tr>
                    </tbody>
               </table>
               </div>
          </div>      
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="btn-clr-yellow" ng-click="ctrl.cancel()">
       Cancel
      </md-button>
    </md-dialog-actions>
  </form>
  
  
</md-dialog>