<md-dialog  class="rs-dialog" ng-cloak>
  <form name="trackingForm" >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Tracking</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.parent.cancel()">
           <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
        	<p>Enter tracking for Shipment ID {{ctrl.parent.tracking.shipId}}<br>
				<strong>(Purchase Order Number {{ctrl.parent.tracking.invoiceNumber}})</strong></p>
            <section layout="column">
               		<md-input-container flex>
                      <label>Carrier</label>
                      <input type="text" name="carrier" ng-model="ctrl.parent.tracking.carrier" ng-required="true" ng-maxlength="50" >
                       <div  role="alert" ng-messages="trackingForm.carrier.$error" ng-show="trackingForm.carrier.$dirty && trackingForm.carrier.$invalid" >
    						<div ng-message="required">Carrier is required.</div>
    						<div ng-message="maxlength">Carrier should not be greater than 50 characters</div>
    				   </div>
                    </md-input-container>
                     <md-input-container flex>
                      <label>Tracking Number</label>
                      <input type="text" name="tracking" ng-model="ctrl.parent.tracking.trackingNumber" ng-required="true"  valid-number ng-maxlength="80" >
                     	<div  role="alert" ng-messages="trackingForm.tracking.$error" ng-show="trackingForm.tracking.$dirty && trackingForm.tracking.$invalid" >
    						<div ng-message="required">Tracking Number is required.</div>
    						<div ng-message="maxlength">Tracking Number should not be more than 80 Characters.</div>
    					</div>
                    </md-input-container>
               </section>
               <br>
        <!--<strong>Status :</strong> -->
               <br>
               
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="btn-clr-yellow" ng-click="ctrl.parent.cancel()" >
       Cancel
      </md-button>
      <md-button class="btn-clr-yellow" ng-click="ctrl.parent.addTrackOrder()" ng-disabled="trackingForm.$invalid || $root.pauseEvent"  > 
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>