<md-dialog  class="rs-dialog lg-rs-dialog"  ng-cloak>
  <form ng-show="!showList">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Device List for Purchase Order Number <b>{{ctrl.parent.shippedInvoiceId}}</b></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.parent.cancel()">
            <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
          <div>
               <div class="invoices-scroll" ng-scrollbar>
               <table class="table table-text-left table-striped table-hover table-bordered">
               		<thead>
                    	<tr>
                        	<th>Mac address</th>
                            <th>Model</th>
                            <th>WLAN0</th>
                            <th>WLAN1</th>
                            <th>WLAN2</th>
                            <th>WLAN3</th>
                            <th>QC-Status</th>
                            <th>Delete</th> 
                        </tr>
                    </thead>
               		<tbody>
                    	
                    </tbody>
               </table>
               </div>
          </div>      
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="btn-clr-yellow" ng-click="showList = !showList">
        List of Mac Addresses consumed
      </md-button>
    </md-dialog-actions>
  </form>
  
  <form ng-show="showList">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><a ng-click="showList = !showList" class="back-link"><md-icon md-font-set="material-icons">arrow_back</md-icon> Back</a></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.parent.cancel()">
          <md-icon md-font-set="material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
          <div>
          	<h4>List of Mac  Addresses consumed for invoive number <b>{{ctrl.parent.shippedInvoiceId}}</b></h4>
              <ul class="macList-of-ShippedTtems">
              	<li>10:12:CE:00:11:19</li>
                <li>10:12:CE:00:11:20</li>
                <li>10:12:CE:00:11:21</li>
                <li>10:12:CE:00:11:22</li>
                <li>10:12:CE:00:11:23</li>
                <li>10:12:CE:00:11:24</li>
                <li>10:12:CE:00:11:25</li>
                <li>10:12:CE:00:11:26</li>
              </ul>
          </div>      
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="btn-clr-yellow" ng-click="showList = !showList">
        Ok
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>