 <md-dialog  class="rs-dialog" aria-label="Mango (Fruit)"  ng-cloak>
  <form name="ackForm"  >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Acknowledge</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.parent.cancel()">
            <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
        	<p ng-bind-html="ctrl.parent.title" ></p>
            <div>
    			<md-datepicker name="ackDate" md-placeholder="Pic Date" md-min-date="ctrl.parent.minimumNeedBy" md-max-date="ctrl.parent.maximumNeedBy" ng-required="true" ng-model="ctrl.parent.shipOrder.acknowledged"  flex></md-datepicker>
            <div  role="alert" ng-messages="ackForm.ackDate.$error" ng-show="ackForm.ackDate.$dirty && ackForm.ackDate.$invalid" >
    			<div ng-message="required">Acknowledge date is required.</div>
    			<div ng-message="mindate">Date must be greater than ship order created date.</div>
  			</div>
            </div>
            
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="btn-clr-yellow" ng-click="ctrl.parent.cancel()">
       Cancel
      </md-button>
      <md-button class="btn-clr-yellow" ng-click="ctrl.parent.addShipOrder()" ng-disabled="ackForm.$invalid || $root.pauseEvent" >
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>