<md-dialog  class="rs-dialog" aria-label="Packaging Slip"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Packing Slip - Number {{ctrl.parent.shipOrder.shipId}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.parent.cancel()" >
            <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
        	<div class="packing-slip-details">
        	<div class="details-row">
        	<strong>SHIP TO :</strong>
        	<pre>{{ctrl.parent.shipOrder.address}}</pre>
        	</div>
        	
           	<div class="details-row"><strong> PHONE :</strong> {{ctrl.parent.shipOrder.phone}}</div>
           	</div>
			 
             <table class="table table-bordered table-text-left">
             	<thead>
             	<tr>
                	<th>Date</th>
                    <th>Purchase Order Number</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                	<td>{{ctrl.parent.shipOrder.shipBy | dateFilter }}</td>
                    <td>{{ctrl.parent.shipOrder.invId}}</td>
                </tr>
                </tbody>
             </table>
       </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="btn-clr-yellow" ng-click="ctrl.parent.cancel()">
       Cancel
      </md-button>
      <md-button class="btn-clr-yellow" ng-click="ctrl.parent.downloadTrackPdf()" >
        Print
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>