<md-dialog  class="rs-dialog" aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Scan Shipment</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.parent.cancel()">
            <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
        	<p>Enter units for Shipment ID {{ctrl.parent.shipOrder.shipId}} (Purchase Order Number {{ctrl.parent.shipOrder.invId}})</p>

            <section layout="column">
            		<md-input-container flex>
                      <label>units</label>
                      <input type="text" ng-model="invoicenumber">
                    </md-input-container>
                    <br>
                    <br>
                    <p>Enter or Scan Last 3 Mac address digits [XX:YY:ZZ] <small>(1 per Line)</small></p>
               		<md-input-container class="md-block">
                      <label>Mac address digits</label>
                      <textarea ng-model="user.biography" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
               </section>
               
               <br>
               <strong>Status :{{ctrl.parent.shipOrder.state | uppercase}}</strong>
               <br>
               
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="btn-clr-yellow" ng-click="ctrl.parent.cancel()">
       Cancel
      </md-button>
      <md-button class="btn-clr-yellow" ng-click="ctrl.parent.cancel()">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>