<md-dialog  class="rs-dialog" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Job Orders for Purchase Order <b>{{ctrl.purchaseOrderId}}</b></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
           <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
      <table class="table table-text-left table-striped table-hover table-bordered job_order-table">
	                        <thead>
	                        <tr>
	                            <th>Job<br>Id</th>
	                            <th>Purchase<br>Order Id</th>
	                            <th>Status</th>
	                            <th class="column-xl">Items</th>
	                            <th>Generated Image</th>
	                            <th>Image To Be Generated</th>
	                            <th>Need By</th>
	                            <th>Committed By</th>
	                            <th>Create Date</th>
	                            <th>Ack Date</th>
	                            <th>Finish Date</th>
	                         </tr>
	                        </thead>
                            <tbody>
                            <tr ng-repeat="jobOrder in ctrl.jobOrderList | filter: { state: selectedCriteria }">
                                <td>{{jobOrder.jobId}}</td>
                                <td>{{jobOrder.invId}}</td>
                                <td>{{jobOrder.state | uppercase}}</td>
                                <td class="column-xl">
                                    <table class="child-table">
                                        <tr ng-repeat="jobItem in jobOrder.jobItems">
                                           <td class="td-word-wrap-xsmall">{{jobItem.psku}}</td>
                                            <td>:</td>
                                            <td class="column-xs">{{jobItem.quantity}}</td>
                                            <td>
												<table class="subchild-table">
														<tr ng-repeat="jobItemSubProduct in jobItem.jobItemSubProducts" >
															<td>{{jobItemSubProduct.invoiceItemSubProductList[0].subproductName}}</td>
															<td>{{jobItemSubProduct.invoiceItemSubProductList[0].quantity}}</td>
														</tr>
												</table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>{{jobOrder.generatedImage}}</td>
	                            <td>{{jobOrder.imageToBeGenerated}}</td>
                                <td nowrap>{{jobOrder.needBy | dateFilter }}</td>
                                <td>{{jobOrder.createdBy}}</td>
                                <td nowrap>{{jobOrder.created | dateFilter }}</td>
                                <td nowrap>{{jobOrder.acknowledged | dateFilter }}</td>
                                <td nowrap>{{jobOrder.finished | dateFilter }}</td>
                            </tr>
                            </tbody>
                        </table>
        
      </div>
    </md-dialog-content>
    <!--<md-dialog-actions layout="row"> <span flex></span>
      <md-button class="btn-clr-yellow" ng-click="answer('useful')"> OK </md-button>
    </md-dialog-actions>-->
  </form>
</md-dialog>
