<md-dialog  class="rs-dialog lg-rs-dialog" aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Tracking List for Purchase Order No <b>{{ctrl.purchaseOrderId}}</b></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
            <md-icon md-font-set="material-icons" class="ng-scope material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content rs-form"  layout="column">
          <div>
               <div class="invoices-scroll" ng-scrollbar>
               <table class="table table-text-left table-striped table-hover table-bordered">
               		<thead>
                    	<tr>
                        	<th>ID</th>
                            <th>Carrier</th>
                            <th>Tracking</th>
                        </tr>
                    </thead>
               		<tbody>
                    	<tr ng-repeat="trackingItemList in ctrl.trackingItemsList">
                        	<td>{{trackingItemList.trackId}}</td>
                            <td>{{trackingItemList.carrier}}</td>
                            <td>{{trackingItemList.trackingNumber}}</td>
                        </tr>
                    </tbody>
               </table>
               </div>
          </div>      
      </div>
    </md-dialog-content>
   <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="btn-clr-yellow" ng-click="ctrl.cancel()">
       Cancel
      </md-button>
    </md-dialog-actions>
  </form>
  
  
</md-dialog>