<side-nav></side-nav>
<div layout="column" class="relative" layout-fill role="main">
    <mesh-header></mesh-header>
      <md-content flex md-scroll-y class="bg-gray">
        <ui-view layout="row" layout-padding>
           <md-card flex="100" flex-gt-md="50">
             <md-card-content>
             <form name="ChnagePassword">
           		<h3> Change Password </h3>    
                
                <div layout="column">
                     <md-input-container>
                         <label>Current Password</label>
                         <input type="password" ng-model="changePassword.currentPassword" ng-required="true">
                    </md-input-container>
                    <md-input-container>
                        <label>New Password</label>
                        <input name="newpassword" type="password" ng-model="changePassword.newPassword" ng-required="true" ng-minlength="8" ng-maxlength="32">
                        <div class="error-msgs" ng-messages="ChnagePassword.newpassword.$error" >
                        	<span ng-message="required">New password is required.</span>
                    		<div ng-message="minlength">Password must be of minimum 8 characters length</div>
							<div ng-message="maxlength">Password must be of maximum 32 characters length</div>
                 		</div>
                    </md-input-container>
                    <md-input-container>
                        <label>Confirm New Password</label>
                        <input type="password" name="confirmPassword" ng-model="chnagePassword.confirmPassword" valid-password-c="changePassword.newPassword" ng-required="true" ng-minlength="8" ng-maxlength="32" >
                    	<div class="error-msgs" ng-messages="ChnagePassword.confirmPassword.$error">
                    		<span ng-message="noMatch">Password and Confirm password must be same and valid.</span>
                    		<div ng-message="minlength">Password must be of minimum 8 characters length</div>
							<div ng-message="maxlength">Password must be of maximum 32 characters length</div>
                 		</div>
                    </md-input-container>
                </div>
                <md-button class="btn-orrange" ng-disabled="ChnagePassword.$invalid" ng-click="changePasswords()">
                    Save
                </md-button>
                </form>
          </md-card-content>
          </md-card>
        </ui-view>
      </md-content>
    </div>   
  
