<side-nav></side-nav>
<div layout="column" class="relative" layout-fill role="main">
<mesh-header></mesh-header>
    <md-content flex md-scroll-y class="bg-gray">
<!-- <md-subheader class="sub-header padding-none">
        	<md-tabs class="meshD-tabs" md-stretch-tabs md-selected="data.selectedIndex">
          <md-tab id="tab1" aria-controls="tab1-content">
            New Units 
          </md-tab>
          <md-tab id="tab2" aria-controls="tab2-content">
            Pending/RMA Unit 
          </md-tab>
          <md-tab id="tab3" aria-controls="tab3-content">
            Manufactured Unit
          </md-tab>
          <md-tab id="tab4" aria-controls="tab4-content">
            Internal Unit
          </md-tab> 
        </md-tabs>
</md-subheader>-->
		<div class="custom-sub-header">
       		<h4>New Units</h4>
       </div>
       <div class="custom-sub-header-space"></div>
	
	<ui-view layout="column" layout-fill layout-padding ng-controller="flashingCtrl" >
<ul class="filters">
                <li layout="row">
                    <label flex="40">Filter By :</label>
                    <md-select ng-model="selectedFilter" ng-change="changeTextFieldVisibility()" flex placeholder="None">
                    	<md-option ng-value="" >None</md-option>
                        <md-option ng-repeat="filter in generalFilters" ng-value="filter.key" >{{ filter.value }}</md-option>
                    </md-select>
                </li>
                <li class="text-filter" layout="row" ng-show="filterTextFieldVisibility" >
                	<input type="text" ng-model="filterTextField"  >
                </li>
                <li layout="row">
                    <label flex="30">Status :</label>
                    <md-select ng-model="selectedStatusFilter" ng-change="searchByType()" flex placeholder="None">
                        <md-option ng-value="" >None</md-option>
                        <md-option ng-repeat="filter in statusFilters" ng-value="filter.key" >{{ filter.value }}</md-option>
                    </md-select>
                </li>
                <li class="search-holder"><md-button class="submit-search" ng-click="setCriteria()" ><md-icon md-font-set="material-icons" > search </md-icon></md-button></li>
                <li class="page-rows" layout="row">
                    <label flex="70">Records per page:</label>
                    <md-select ng-model="pagination.perPageItemCount" flex placeholder="Open">
                        <md-option  ng-value="10" >10</md-option>
                        <md-option ng-value="25" >25</md-option>
                    </md-select>
                </li>
               
            </ul>
           
 <md-card class="padding-none">
             		<md-card-content class="padding-none">
                  <div  class="rs-form flashing-inputs-container">
                  	<section layout="column" ng-form name="flashForm">
                       <div layout="row" layout-xs="column" layout-sm="column">
                       <md-input-container flex>
                       		<js-xls onread="readExcel" onerror="error"></js-xls>
                       		<span>(Include .xls/.xlsx/.ods file only.)</span>
                       	</md-input-container>
                            <!-- <md-input-container flex>
                                <label><b>Job ID - PurchaseOrder Id - Customer</b></label>
                                <md-select name="jobOrder" ng-required="true" ng-model="selectedJobOrder" ng-change="flashForm.$setPristine();flashForm.$setUntouched();initContoller();" >
                                  	<md-select-header>
	      								<span>Please Select Job Order.</span>
	    							</md-select-header>
                                  <md-option  ng-repeat="jobOrder in jobOrderList track by $index" ng-value="jobOrder">{{jobOrder.jobId}} | {{jobOrder.invId}} | {{jobOrder.custName}}</md-option>
                                </md-select>
                                 <div ng-messages="flashForm.jobOrder.$error" role="alert">
    									<div ng-message="required">Job Order is required.</div>
  								</div>
                              </md-input-container> -->
                              <div>
		                          <md-autocomplete 
								    md-selected-item="selectedJobOrder"
								    md-selected-item-change="flashForm.$setPristine();flashForm.$setUntouched();setSubJobItems();"
								    md-item-text="item.display"
								    md-search-text="searchText"
								    md-items="item in querySearch(searchText)"
								    md-floating-label="Job Orders"
								    md-input-name="jobOrder"
								  	md-autoselect= "true"
								    md-select-on-match="true"
						    		md-match-case-insensitive="true"
								    name="jobOrder"
								    md-no-cache="true"
								    ng-required="true" 
								    force-select
								    >
									  <div layout="row" class="item" layout-align="start center">
									    &nbsp;&nbsp;
									    <span md-highlight-text="searchText" >{{item.display}}</span>  
									  </div>
									  <div class="cust-required-msg" role="alert" ng-messages="shipOrder.invoice.$error"  >
			    						<div ng-message="required" >Purchase Order is required.</div>
			  						  </div>
									</md-autocomplete>
                              </div>
                              <md-input-container flex>
                                <label>Model</label>
                                <md-select name="jobItem" ng-model="selectedJobItem" ng-required="true" ng-change="subItemChanged()" >
                                		<md-select-header>
	      									<span>Please Select Job Item.</span>
	    								</md-select-header>
                                  	<md-option ng-repeat="jobItem in jobItems" ng-value="jobItem">Job item : {{jobItem.psku}} | Qty : {{jobItem.quantity}}<span ng-show="jobItem.jobItemSubProducts.length > 0"> | ( </span><span ng-repeat="jobItemSubProduct in jobItem.jobItemSubProducts" >{{jobItemSubProduct.invoiceItemSubProductList[0].subproductName}} | {{jobItemSubProduct.invoiceItemSubProductList[0].quantity}} {{$last ? '' : ', '}}</span><span ng-show="jobItem.jobItemSubProducts.length > 0">)</span></md-option>
                                </md-select>
                                 <div ng-messages="flashForm.jobItem.$error" role="alert">
    									<div ng-message="required">Job Item is required.</div>
  								</div>
                              </md-input-container> 
                              <md-input-container flex>
                                <label>F/W Version</label>
                                <md-select ng-attr-name="fwversion" ng-required="true" ng-model="fwVersionView" ng-change="fwVersionChanged()" >
                                		<md-select-header>
	      									<span>Please Select Fw Version.</span>
	    								</md-select-header>
                                  	<md-option ng-value="0" >3.0</md-option>
                                  	<md-option ng-value="1" >4.4.4</md-option>
                                </md-select>
                                <div ng-messages="flashForm.fwversion.$error" role="alert">
    									<div ng-message="required">Fw Version is required.</div>
  								</div>
                              </md-input-container>
                       </div>
                    </section>
       				 </div>
                  	</md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                      <md-button ng-disabled="flashForm.$invalid" class="orange-btn" ng-click="getBuildConfugations()">Proceed</md-button>
                    </md-card-actions>
            		</md-card>
            		
                    <md-card  class="padding-none rs-card  margin-bottom-60">
                    <md-card-title>
                      <md-card-title-text>
                      
                        <span class="md-headline">Generate Image </span>
                      </md-card-title-text>
               <md-button class="md-fab btn-file-download burn-image-btn" aria-label="Load Image" ng-click="assignMac()" ng-disabled="validateMacList() || $root.pauseEvent"   >
           		 <md-icon md-font-set="material-icons">description</md-icon>
        		</md-button>
                    </md-card-title>
                    
                    <md-card-content>
                    <br>
                     
               <div class="genrate-image">
        <div class="md-ripple-container" style=""></div>
         <div class="tbl-horizontal-scroll">
               <table class="table table-text-left table-bdr-bottom table-hover tbl-checkbox"  >
               		<thead>
                    	<tr>
                    		<th>&nbsp</th>
                        	<th>#</th>
                            <th>Board Sr.No</th>
                            <th>Model</th>
                            <th>Version</th>
                            <th>Board MAC</th>
                            <th>MAC</th>
                            <th>Status</th>
                            <th class="td-text-center">Download</th> 
                            <th class="td-text-center">Rebuild Image</th>
                        </tr>
                    </thead>
               		<tbody>
               			 <tr  name="config_form_{{pagination.pageStartIndex - 1 + $index}}" ng-repeat="confugation in flashingList" ng-form  >
                    	 	<td><md-checkbox md-no-ink ng-model="assignMacList[pagination.pageStartIndex - 1 + $index]"  ng-disabled="ifFlashingDisabled(config_form_{{ pagination.pageStartIndex - 1 + $index}}.$invalid,config_form_{{pagination.pageStartIndex - 1 + $index}}.$dirty,pagination.pageStartIndex - 1 + $index)" ng-change="ifFlashingDisabled(config_form_{{pagination.pageStartIndex - 1 + $index}}.$invalid,assignMacList[pagination.pageStartIndex - 1 + $index])" ng-hide="confugation.macAddress != ''" aria-label="mac-address-checkbox" ></td>
                            <td>{{pagination.pageStartIndex + $index}}</td> 
                            <td class="td-min-width"><input type="text" class="tbl-input" placeholder="Enter Board Sr. No" ng-model="confugation.serialNo" ng-required="true"  ng-disabled="confugation.jobmodelflashdetailsId !== undefined" ng-maxlength="30"></td>
                            <td>{{confugation.psku}}</td>
                            <td>{{confugation.version}}</td>
                            <td class="td-min-width"><input type="text" class="tbl-input"  placeholder="Enter board MAC" ng-pattern="/^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$/" ng-model="confugation.boardMacAddress" ng-required="true" ng-required="true" ng-disabled="confugation.jobmodelflashdetailsId !== undefined" ng-maxlength="35"></td>
                             <!-- <td width="15%"><md-button  class="btn-small" ng-click="assignMac($event,confugation)" ng-show="confugation.macAddress == ''"  >Assign MAC</md-button>  -->
                            <td>
                            	<span >{{confugation.macAddress}}</span>
                            </td>
                            <td ng-model="confugation.status" >{{downloadStatusList[confugation.jobmodelflashdetailsId].status | flashingStatusConvertor}}</td>
                            <td class="td-text-center">
                            	 <!-- <md-button class="md-fab md-primary burn-image-btn" aria-label="Load Image" ng-show="confugation.macAddress !== '' && downloadStatusList[confugation.jobmodelflashdetailsId].visibility && downloadStatusList[confugation.jobmodelflashdetailsId].readyToDownload " ng-click="dowloadImage(confugation)" >
	           		 				<md-icon md-font-set="material-icons">get_app</md-icon>
	        					</md-button> -->
	        					<span class="download-link">
								<md-icon class="material-icons" md-font-set="material-icons" ng-show="confugation.macAddress !== '' && downloadStatusList[confugation.jobmodelflashdetailsId].visibility && downloadStatusList[confugation.jobmodelflashdetailsId].readyToDownload && !loaderStatus[confugation.jobmodelflashdetailsId]" ng-click="dowloadImage(confugation)" > file_download </md-icon>
								</span>
	        					<md-progress-circular ng-disabled="false" ng-show="loaderStatus[confugation.jobmodelflashdetailsId]" class="md-hue-2"  md-diameter="40"></md-progress-circular>
	        				</td>
	        				<td class="td-text-center">
	           		 		 <md-icon class="btn-reload" md-font-set="material-icons" ng-show="confugation.macAddress !== '' &&  downloadStatusList[confugation.jobmodelflashdetailsId].visibility && !downloadStatusList[confugation.jobmodelflashdetailsId].readyToDownload" ng-click="rebuildImage(confugation)" >restore</md-icon>
	           		 		</td>
                        </tr> 
                        
                    </tbody>
               </table>
               <pagination ng-hide="hidePaginationTab" per-page-item-count="{{pagination.perPageItemCount}}" total-pages-to-show="6" method="getFlashingList(pageNumber,setPagination)" ></pagination>
               </div>
               </div>
                    </md-card-content>
      				</md-card> 
      				<div class="clearfix"></div>
        </ui-view>
   </md-content>
</div>