<side-nav></side-nav>
<div layout="column" class="relative" layout-fill role="main">
    <mesh-header></mesh-header>
    <md-content flex md-scroll-y class="bg-gray">
        <ui-view layout="column" layout-fill layout-padding>
            <ul class="filters">
                <li layout="row">
                    <label flex="30">Show :</label>
                    <md-select ng-model="selectedCriteria" flex placeholder="Open">
                        <md-option ng-value="criteria.key" ng-repeat="criteria in criterias" >{{ criteria.value }}</md-option>
                    </md-select>
                </li>
            </ul>

            <md-button class="md-fab add-btn-top " aria-label="Add" ng-click="showForecastDialog($event)">
                <md-icon md-font-set="material-icons"> add</md-icon>
            </md-button>


            <div layout="row">
                <md-card class="padding-none" flex>
                    <md-card-content class="padding-none">
                        
                        <div class="tbl-horizontal-scroll">
                            <table class="table table-text-left table-striped">
                            	<thead>
	                            <tr>
	                                <th>EST Date</th>
	                                <th>Customer</th>
	                                <th>Contact</th>
	                                <th>Items</th>
	                                <th>Operations</th>
	                            </tr>
	                            </thead>
                                <tbody>
                                <tr ng-repeat="forecast in forecastList |filter: searchByType">
                                    <td>{{forecast.estDate}}</td>
                                    <td>{{forecast.custName}}</td>
                                    <td>{{forecast.salesMan}}</td>
                                    <td>
                                        <table class="table child-table">
                                            <tr ng-repeat="forecastProduct in forecast.forecastItemVo">
                                                <td>{{forecastProduct.psku}}</td>
                                                <td>:</td>
                                                <td>{{forecastProduct.quantity}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="v-align table-row-menu text-align-right">
                                    <md-menu md-offset="0 -7">
                                        <md-button aria-label="Open demo menu" class="md-icon-button"
                                                   ng-click="$mdOpenMenu($event)">
                                            <md-icon md-font-set="material-icons">more_vert</md-icon>
                                        </md-button>
                                        <md-menu-content class="small-menu">
                                            <md-menu-item>
                                                <md-button ng-click="showForecastDialog($event,forecast)">Edit</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="deleteForecastDialog($event,forecast)">Delete</md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </td> 
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </md-card-content>
                </md-card>

                <md-card class="padding-none" flex>
                    <md-card-content class="padding-none">
                        <table class="table table-text-left">
                            <thead>
                            <tr>
                                <th width="20%">SKU</th>
                                <th width="20%">Stock Level / Inventory</th>
                                <th width="15%">In Pocess Level</th>
                                <th width="15%">2-4 Week Level</th>
                                <th width="15%">4-8 Week Level</th>
                                <th width="15%">>8 Week Level</th>
                            </tr>
                            </thead>
                        </table>
                        <div class="invoices-scroll" ng-scrollbar>
                            <table class="table table-text-left table-striped">
                                <tbody>
                                <tr>
                                    <td width="20%">Bullet2</td>
                                    <td width="20%">-40</td>
                                    <td width="15%">-40</td>
                                    <td width="15%">-40</td>
                                    <td width="15%">-40</td>
                                    <td width="15%">-40</td>
                                </tr>
                                <tr>
                                    <td width="20%">Bullet5</td>
                                    <td width="20%">-40</td>
                                    <td width="15%">-40</td>
                                    <td width="15%">-40</td>
                                    <td width="15%">-40</td>
                                    <td width="15%">-40</td>
                                </tr>
                                <tr>
                                    <td width="20%">CM10</td>
                                    <td width="20%">-1317</td>
                                    <td width="15%">-1317</td>
                                    <td width="15%">-1317</td>
                                    <td width="15%">-1317</td>
                                    <td width="15%">-1317</td>
                                </tr>
                                <tr>
                                    <td width="20%">Bullet5</td>
                                    <td width="20%">-40</td>
                                    <td width="15%">-40</td>
                                    <td width="15%">-40</td>
                                    <td width="15%">-40</td>
                                    <td width="15%">-40</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </md-card-content>
                </md-card>
            </div>

        </ui-view>
    </md-content>
</div>