<div layout="column" class="relative" role="main" layout-fill>
            
      <md-content flex md-scroll-y class="bg-gray">
        <ui-view layout="column" layout-fill layout-padding>
            <div class="forgot-password-contain">
            	<a href="#/login"><img class="forgot-psw-logo" src="views/assets/images/logo.png"></a>
                <h2><a href="#/login"><md-icon md-font-set="material-icons"> arrow_back </md-icon></a> Forgot Your Password?</h2>
                 <div layout="row">
                  <div flex="0" flex-gt-xs="30">
                  	<md-card class="forgot-password-icon">
                        <md-card-content class="text-center">
                        	<!--<img src="assets/images/mail.png" width="100%">-->
                            <md-icon md-font-set="material-icons"> email </md-icon>
                        </md-card-content>
                	</md-card>
                  </div>
                  <div flex="100" flex-gt-xs="70">
                  	<md-card class="forgot-password-form">
                        <md-card-content>
                        <form name="forgotPasswordForm">
                        <p>Enter your username below and we’ll send your password to your email address</p>
                      	<div  layout="column">
                      	<md-input-container flex>
                        <label>Username</label>
                        	<input name="userName" ng-model="forgotData.userName" type="text" required="true">
                        	 <div  role="alert" ng-messages="forgotPasswordForm.userName.$error" >
								<div ng-message="required" >Username is required.</div>
							</div>
                      	</md-input-container>
                    	</div>
                       	<md-button class="md-raised btn-orrange" type="submit" ng-click="forgotPassword()" ng-disabled="forgotPasswordForm.$invalid" >Submit</md-button>
                       </form>
                    </md-card-content>
                	</md-card>
                  </div>
                </div>
                 <p><strong>Note: </strong>
If you don’t get an email from us within few minutes please check your spam filter.<br>
<strong>The email will be coming from do-not-reply@meshdynamics.com</strong></p>
            </div>
            
          
        </ui-view>
      </md-content>
    </div>   
  
