<side-nav></side-nav>
<div layout="column" class="relative" layout-fill role="main">
    <mesh-header></mesh-header>
    <md-content flex md-scroll-y class="bg-gray">
        <ui-view layout="column" layout-fill layout-padding>

            <md-button class="md-fab add-btn-top " aria-label="Add" ng-click="showInventoryDialog($event)">
                <md-icon md-font-set="material-icons"> add</md-icon>
            </md-button>
            
                <ul class="filters">
                <li layout="row" class="search-box" >
            			 <md-icon md-font-set="material-icons"> search </md-icon>
                        <input ng-model="criteria.rsku" placeholder="enter search" flex>
                         <!-- <md-button ng-click="setCriteria()" ><md-icon md-font-set="material-icons" > search </md-icon></md-button>  -->
                 	 <md-button class="submit-search" ng-click="setCriteria()" ><md-icon md-font-set="material-icons" > search </md-icon></md-button>
                 </li>
	            	<li layout="row" class="page-rows">
                    	<label flex="70">Records per page:</label>
	                    <md-select ng-model="pagination.perPageItemCount" flex placeholder="Open">
	                        <md-option  ng-value="10" >10</md-option>
	                        <md-option ng-value="25" >25</md-option>
	                    </md-select>
                	</li>	
	            </ul>
            <md-card class="padding-none margin-bottom-60">
                <md-card-content class="padding-none">
                   <div class="tbl-horizontal-scroll-sm">
                         <table class="table table-text-left table-hover table-striped">
                         	<thead>
                        <tr>
                            <th>SKU</th>
                            <th>Description</th>
                            <th>Comments</th>
                            <th width="30"  class="text-align-right"></th>
                        </tr>
                        </thead>
                            <tbody>
                            <tr ng-repeat="inventory in inventoryList">
                                <td><p class="td-word-wrap-small">{{inventory.rsku}}</p></td>
                                <td><p class="td-word-wrap">{{inventory.description}}</p></td>
                                <td><p class="td-word-wrap">{{inventory.comment}}</p></td>
                                <td width="30" class="v-align table-row-menu text-align-right">
                                    <md-menu md-offset="0 -7">
                                        <md-button aria-label="Open demo menu" class="md-icon-button"
                                                   ng-click="$mdOpenMenu($event)">
                                            <md-icon md-font-set="material-icons">more_vert</md-icon>
                                        </md-button>
                                        <md-menu-content class="small-menu">
                                            <md-menu-item>
                                                <md-button ng-click="showInventoryDialog($event,inventory)">Edit</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="deleteInventoryDialog($event,inventory)">Delete</md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </td> 
                            </tr>
                            </tbody>
                        </table>
                         <pagination per-page-item-count="{{pagination.perPageItemCount}}" total-pages-to-show="6" method="getRawInventoryList(pageNumber,setPagination)"></pagination>
                      </div>
                </md-card-content>
            </md-card>
            <div class="clearfix"></div>
        </ui-view>
    </md-content>
</div>
