<side-nav></side-nav>
<div layout="column" class="relative" layout-fill role="main">
    <mesh-header></mesh-header>
    <md-content flex md-scroll-y class="bg-gray">
       <div class="custom-sub-header">
       		<button class="btn-plain" ng-csv="getInvoiceListForCSV()" lazy-load="true" filename="purchase_order.csv" csv-header="['Purchase Order Number', 'Status', 'Customer','Purchase Order Date','Due Date','Bill To','Ship To']" csv-column-order="['invId', 'status', 'custName','invDate','dueDate','billTo','shipTo']">
                <md-icon md-font-set="material-icons">file_download</md-icon>
                Download CSV</button>
       </div>
       <div class="custom-sub-header-space"></div>
       
        <!--<md-subheader class="sub-header sub-header-links">
            <a href="#" ng-csv="invoiceList" filename="test.csv" >
                <md-icon md-font-set="material-icons">mode_edit</md-icon>
                Change Purchase Order Sequence Number</a> 
            <button class="btn-plain" ng-csv="getInvoiceListForCSV()" lazy-load="true" filename="purchase_order.csv" csv-header="['Purchase Order Number', 'Status', 'Customer','Purchase Order Date','Due Date','Bill To','Ship To']" csv-column-order="['invId', 'status', 'custName','invDate','dueDate','billTo','shipTo']">
                <md-icon md-font-set="material-icons">file_download</md-icon>
                Download CSV</button>
        </md-subheader> --> 
        <ui-view layout="column" layout-fill layout-padding>
            <ul class="filters">
                <li layout="row">
                    <label flex="40">Filter By :</label>
                    <md-select ng-model="selectedFilter" ng-change="changeTextFieldVisibility()" flex placeholder="None">
                    	<md-option ng-value="" >None</md-option>
                        <md-option ng-repeat="filter in filters" ng-value="filter.key" >{{ filter.value }}</md-option>
                    </md-select>
                </li>
                <li class="text-filter" layout="row" ng-show="filterTextFieldVisibility" >
                	<input type="text" ng-model="filterTextField"  >
                </li>
                <li layout="row">
                    <label flex="30">Show :</label>
                    <md-select ng-model="selectedShowFilter" ng-change="searchByType()" flex placeholder="Open">
                        <md-option ng-repeat="filter in showFilters" ng-value="filter.key" >{{ filter.value }}</md-option>
                    </md-select>
                </li>
                	
                <li class="search-holder">
                	<md-button class="submit-search" ng-click="setCriteria()" ><md-icon md-font-set="material-icons" > search </md-icon></md-button> 
                </li>
                <li class="page-rows" layout="row">
                    <label flex="70">Records per page:</label>
                    <md-select ng-model="pagination.perPageItemCount" flex placeholder="Open">
                        <md-option  ng-value="10" >10</md-option>
                        <md-option ng-value="25" >25</md-option>
                    </md-select>
                </li>
               
            </ul>
            <md-button class="md-fab add-btn-top invoice-add " aria-label="Add" ng-click="showInvoiceDialog($event)">
                <md-icon md-font-set="material-icons"> add </md-icon>
            </md-button>

            <md-card class="padding-none margin-bottom-60">
                <md-card-content class="padding-none">
                    <div class="tbl-horizontal-scroll-xl">
                        <table class="table table-text-left table-hover table-striped tb-valgin-thead purchase-childtablectrl">
                        <thead>
                        <tr>
                            <th>Purchase<br>Order no</th>
                            <th>Status</th>
                            <th>Customer</th>
                            <th>Date</th>
                            <th class="column-xl">Items</th>
                            <th>Details</th>
                            <th width="30"  class="text-align-right"></th>
                        </tr>
                        </thead>
                            <tbody>
                          <tr ng-repeat = "invoice in invoiceList" >  
                                <td>{{invoice.invId}}</td>
                               	<td>{{invoice.status}} </td>
                                <td>{{invoice.custName }}</td>
                                <td>
                                    <table class="child-table">
                                        <tr>
                                            <td>Issued</td>
                                            <td>:</td>
                                            <td nowrap>{{invoice.invDate | dateFilter}}</td>
                                        </tr>
                                        <tr>
                                            <td>Due</td>
                                            <td>:</td>
                                            <td nowrap>{{invoice.dueDate | dateFilter}}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="column-xl">
                                    <table class="child-table">
                                        <tr ng-repeat = "product in invoice.invoiceitems">
                                            <td class="td-word-wrap-xsmall">{{product.psku}}</td>
                                            <td>:</td>
                                            <td class="column-xs">{{product.quantity}}</td>
                                            <td>
                                             <table class="subchild-table">
                                             	<tr ng-repeat = "invoiceItemSubProduct in product.invoiceItemSubProducts">
                                             		<td>{{invoiceItemSubProduct.subproductName}}</td>
                                            		<td>:</td>
                                            		<td>{{invoiceItemSubProduct.quantity}}</td>
                                             	</tr>
                                             </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table class="past-due child-table">
                                        <tr>
                                            <td colspan="2" class="clr-red">PAST_DUE</td>
                                        </tr>
                                        <tr>
                                            <td>Amount</td>
                                            <td>:</td>
                                            <td>{{invoice.amount}}</td>
                                        </tr>
                                        <tr>
                                            <td>Balance</td>
                                            <td>:</td>
                                            <td>{{invoice.balance}}</td>
                                        </tr>
                                        <tr>
                                            <td>Payment</td>
                                            <td>:</td>
                                            <td><a ng-click="showPaymentsFromInvoiveDialog($event,invoice.invId)">{{invoice.invoicePaymentCount}}<small>(View)</small></a></td>
                                        </tr>
                                        <tr>
                                            <td>Tracking Nos</td>
                                            <td>:</td>
                                            <td><a ng-click="showTrackingItemsByInvoiveDialog($event,invoice.invId)">{{invoice.invoiceTrackingCount}}<small>(View)</small></a></td>
                                        </tr>
                                        <!-- <tr>
                                            <td colspan="3"><a>View Shipped Items</a></td>
                                        </tr> -->
                                        <tr>
                                            <td colspan="3"><a ng-click="showShippedOrderByInvoiveDialog($event,invoice.invId)">View Ship Orders</a></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><a ng-click="showJobOrderByInvoiveDialog($event,invoice.invId)">View Job Order</a></td>
                                        </tr>
                                         <tr>
                                            <td colspan="3"><a ng-click="openMacRangeDailog($event,invoice.invId,invoice.custName)">Purchase Order Details</a></td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="30"  class="v-align table-row-menu text-align-right">
                                    <md-menu md-offset="0 -7">
                                        <md-button aria-label="Open demo menu" class="md-icon-button"
                                                   ng-click="$mdOpenMenu($event)">
                                            <md-icon md-font-set="material-icons">more_vert</md-icon>
                                        </md-button>
                                        <md-menu-content class="small-menu">
                                            <md-menu-item>
                                                <md-button ng-click="downloadInvoicePdf(invoice)">Print</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="showaddPaymentFromInvoive($event,invoice)">Add Payment</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="closeInvoice(invoice)" ng-disabled="invoice.status =='closed'">Close</md-button>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item>
                                                <md-button ng-click="showInvoiceDialog($event,invoice)">Edit</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="openInvoice(invoice)" ng-disabled="invoice.status =='open'">Re-Open</md-button>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item>
                                                <md-button ng-click="deleteInoiceDialog($event,invoice)">Delete</md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <pagination per-page-item-count="{{pagination.perPageItemCount}}" total-pages-to-show="6" method="getInvoiceList(pageNumber,setPagination)"></pagination>
                    </div>
                </md-card-content>
            </md-card>
            <div class="clearfix"></div>
        </ui-view>
    </md-content>
</div>
