<side-nav></side-nav>
<div layout="column" class="relative" layout-fill role="main">
    <mesh-header></mesh-header>
    <md-content flex md-scroll-y class="bg-gray">
        <ui-view layout="column" layout-fill layout-padding>
            <ul class="filters">
                <li layout="row">
                    <label flex="30">Show :</label>
                    <md-select ng-model="selectedCriteria" flex placeholder="All" ng-change="setCriteria()">
                        <md-option  ng-repeat="criteria in criterias" ng-value="criteria.key" >{{ criteria.value }}</md-option>
                    </md-select>
                </li>
                
	            	<li layout="row" class="page-rows">
                    	<label flex="70">Records per page :</label>
	                    <md-select ng-model="pagination.perPageItemCount" flex placeholder="Open">
	                        <md-option  ng-value="10" >10</md-option>
	                        <md-option ng-value="25" >25</md-option>
	                    </md-select>
                	</li>	
	            
            </ul>
            <md-button class="md-fab add-btn-top " aria-label="Add" ng-click="openJobOrder($event)">
                <md-icon md-font-set="material-icons"> add</md-icon>
            </md-button>
            <md-card class="padding-none margin-bottom-60">
                <md-card-content class="padding-none">
                    <div class="tbl-horizontal-scroll overflow-scroll">
                        <table class="table table-text-left table-striped tb-valgin-thead job_order-table">
	                        <thead>
	                        <tr>
	                            <th>Job<br>Id</th>
	                            <th>Purchase<br>Order Id</th>
	                            <th>Status</th>
	                            <th class="column-xl">Items</th>
	                            <th>Need By</th>
	                            <th>Committed By</th>
	                            <th>Create Date</th>
	                            <th>Ack Date</th>
	                            <th>Finish Date</th>
	                            <th></th>
	                         </tr>
	                        </thead>
                            <tbody>
                            <tr ng-repeat="jobOrder in jobOrderList">
                                <td>{{jobOrder.jobId}}</td>
                                <td>{{jobOrder.invId}}</td>
                                <td>{{jobOrder.state | uppercase}}</td>
                                <td class="column-xl">
                                    <table class="child-table">
                                        <tr ng-repeat="jobItem in jobOrder.jobItems">
                                           <td class="td-word-wrap-xsmall">{{jobItem.psku}}</td>
                                           <td>:</td>
                                           <td class="column-xs">{{jobItem.quantity}}</td>
                                           <td>
												<table class="subchild-table">
														<tr ng-repeat="jobItemSubProduct in jobItem.jobItemSubProducts" >
															<td>{{jobItemSubProduct.invoiceItemSubProductList[0].subproductName}}</td>
															<td>{{jobItemSubProduct.invoiceItemSubProductList[0].quantity}}</td>
														</tr>
												</table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td nowrap>{{jobOrder.needBy | dateFilter }}</td>
                                <td>{{jobOrder.createdBy}}</td>
                                <td nowrap>{{jobOrder.created | dateFilter }}</td>
                                <td nowrap>{{jobOrder.acknowledged | dateFilter }}</td>
                                <td nowrap>{{jobOrder.finished | dateFilter }}</td>
                                <td class="v-align table-row-menu text-align-right">
                                    <md-menu md-offset="0 -7">
                                        <md-button aria-label="Open demo menu" class="md-icon-button"
                                                   ng-click="$mdOpenMenu($event)">
                                            <md-icon md-font-set="material-icons">more_vert</md-icon>
                                        </md-button>
                                        <md-menu-content class="small-menu">
                                           <md-menu-item>
                                                <md-button ng-disabled="jobOrder.state == appConstants.jobstatus.finished"  ng-click="openJobOrder($event,jobOrder)" >Edit</md-button>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item>
                                                <md-button  ng-disabled="jobOrder.state != appConstants.jobstatus.created"   ng-click="acknowledgeOrder($event,jobOrder)">Aknowledge</md-button>
                                            </md-menu-item>
                                            
                                            <md-menu-item>
                                                <md-button ng-disabled="jobOrder.state != appConstants.jobstatus.acknowledged" ng-click="finishOrder($event,jobOrder)">Finish</md-button>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item>
                                                <md-button ng-disabled="jobOrder.state != appConstants.jobstatus.created" ng-click="deleteOrder($event,jobOrder)">Delete</md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </td>
                            </tr>
                            </tbody>
                        </table>
          				<pagination per-page-item-count="{{pagination.perPageItemCount}}" total-pages-to-show="6" method="getJobOrderList(pageNumber,setPagination)"></pagination>
                    </div>
                </md-card-content>
            </md-card>
            <div class="clearfix"></div>
        </ui-view>
    </md-content>
</div>
