<div layout="column" class="relative" role="main" layout-fill>

    <md-content flex md-scroll-y class="bg-gray">
        <ui-view layout="column" layout-fill layout-padding>
            <div class="login-contain">
            <form name="loginForm">
                <center><img class="login-logo" src="views/assets/images/logo.png"></center>
                <md-card class="login-form">
                    <md-card-content layout="column">
                        <h2>Sign In</h2>
						
						
						
                       <div layout="column">
                            <md-input-container>
                                <label>Username</label>
                                <input name="username" type="text"  ng-model="user.userName" ng-required="true">
                            		<div  role="alert" ng-messages="loginForm.username.$error" >
										<div ng-message="required">Username is required.</div>
									</div>
                            </md-input-container>
                            <md-input-container>
                                <label>Password</label>
                                <input name="password" ng-model="user.password" type="password" ng-required="true" >
									<div role="alert" ng-messages="loginForm.password.$error" >
										<div ng-message="required">Password is required.</div>
									</div>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <div class="remumber-psw" flex>
                                <md-checkbox ng-model="rememberMeFlag" ng-change="rememberMe()" aria-label="Checkbox 1">
                                    Remember me
                                </md-checkbox>
                            </div>
                            <div class="forgot-psw" flex>
                                <a href="#/forgot_password">Forgot password ?</a>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
                <md-button class="md-raised btn-orrange" type="submit" ng-class="{'btn-disabled':loginForm.$invalid}" ng-disabled="loginForm.$invalid" ng-click="login()" >Login</md-button>
                </form>
            </div>
        </ui-view>
    </md-content>
</div>
  