<side-nav></side-nav>
<div layout="column" class="relative" layout-fill role="main">
    <mesh-header></mesh-header>
    <md-content flex md-scroll-y class="bg-gray">
<ui-view layout="column" layout-fill layout-padding>
          	<ul class="filters">
          		<li layout="row">
                    <label flex="40">Filter By :</label>
                    <md-select ng-model="selectedFilter"  flex placeholder="None">
                    	<md-option ng-value="" >None</md-option>
                        <md-option ng-repeat="filter in filters" ng-value="filter.key" >{{ filter.value }}</md-option>
                    </md-select>
                </li>
                 <li layout="row" class="search-box" ng-hide="selectedFilter === undefined || selectedFilter == ''" >
	            			 <md-icon md-font-set="material-icons" > search </md-icon>
	                        <input ng-model="searchText" placeholder="enter search"  flex>
	             </li>
	               	 
	    <li class="search-holder"><md-button class="submit-search" ng-click="setCriteria()" ><md-icon md-font-set="material-icons" > search </md-icon></md-button></li>     
          <li layout="row" class="page-rows">
                    	<label flex="70">Records per page:</label>
	                    <md-select ng-model="pagination.perPageItemCount" flex placeholder="Open">
	                        <md-option  ng-value="10" >10</md-option>
	                        <md-option ng-value="25" >25</md-option>
	                    </md-select>
                	</li>
          </ul>
            
            <md-card class="padding-none margin-bottom-60">
             <md-card-content class="padding-none">
             <div class="tbl-horizontal-scroll-xl">
               <table class="table table-text-left tb-valgin-thead table-hover table-bordered table-mac-address">
               		<thead>
                    	<tr>
                    		<th>Items</th>
                        	<th>Purchase Order No</th>
                            <th>Customer Name</th>
                            <th>Customer Id</th>
                            <th>MAC Address</th>
                            
                        </tr>
                    </thead>
              
               		<tbody>
                    	<tr ng-repeat="macAddress in macAddressList" >
                    	<td class="padding-none max-width-xlg">
                            	<table class="table border-none border-top border-right">
                            		<tr ng-repeat="macAddressInvId in macAddress.macAddressInvIds" >
                            			<td class="max-width-lg">			                                
			                                <table class="child-table no-border">
			                                	<tr ng-repeat="macAddressInvoiceItem in macAddressInvId.macAddressInvoiceItemIs">
			                                		<td  class="td-no-wrap-lg" title="{{macAddressInvoiceItem.psku}}">{{macAddressInvoiceItem.psku}}</td>
			                                		<td> : </td>
			                                		<td class="column-xs">{{macAddressInvoiceItem.itemQuantity}}</td>
			                                		<td ng-repeat="macSubProduct in macAddressInvoiceItem.macSubProducts" class="no-wrap item-qty"><div class="space-sm">{{macSubProduct.subProductName}}</div> <div>:</div> <div class="space-sm">{{macSubProduct.invoiceItemSubProductQuantity}}</div></td>
			                                		<!-- <td>
			                                			<table class="child-table">
					                                    	<tr>
					                                    		<td ng-repeat="macSubProduct in macAddressInvoiceItem.macSubProducts" >{{macSubProduct.subProductName}} : {{macSubProduct.invoiceItemSubProductQuantity}}</td>
					                                    	</tr>
					                                    </table>
			                                		</td> -->
			                                	</tr>
			                                </table>			                                
                           				 </td>
                            			
                            		</tr>
                            	</table>
                            </td>
                            <td class="padding-none">
			                     <table class="table border-none border-top">
                            		<tr ng-repeat="macAddressInvId in macAddress.macAddressInvIds">
                            			<td>			                                
			                                <table class="child-table lineH no-border">
			                                	<tr >
			                                		 <td> {{macAddressInvId.invId}}</td>
			                                    </tr>
			                             		<tr ng-repeat=" macItem in macAddressInvId.macAddressInvoiceItemIs | limitTo :  macAddressInvId.macAddressInvoiceItemIs.length - 1"><td>&nbsp</td></tr>
			                                </table>			                                
                           				 </td>
                            		</tr>
                            	</table>
			               </td>
                            <td>
                                 {{macAddress.customerName}}
                            </td>
                        	<td>{{macAddress.custId}}</td>
                           <td class="padding-none">
                           		
			                     <table class="table border-none border-top">
                            		<tr ng-repeat="macAddressInvId in macAddress.macAddressInvIds">
                            			<td>			                                
			                                <table class="child-table lineH no-border">
			                                	<tr >
			                                		 <td class="mac-assigned-total">{{macAddressInvId.invMacAddressCount}}</td>
			                                    	 <td><a class="mac-assigned" ng-click="showMacRange($event,macAddress,macAddressInvId.invMacAddressCount,macAddressInvId.invId)">View Range</a></td> 
			                             		</tr>
			                             		<tr ng-repeat=" macItem in macAddressInvId.macAddressInvoiceItemIs | limitTo :  macAddressInvId.macAddressInvoiceItemIs.length - 1"><td>&nbsp</td></tr>
			                                </table>			                                
                           				 </td>
                            		</tr>
                            	</table>
                           </td>
                        </tr>
                    </tbody>
               </table>
               <pagination per-page-item-count="{{pagination.perPageItemCount}}" total-pages-to-show="6" method="getMacAddressList(pageNumber,setPagination)" ></pagination>
			   
               </div>
             </md-card-content>
            </md-card>
            <div class="clearfix"></div>
          
        </ui-view>
		</md-content>
		</div>