<!--
<md-sidenav layout="column" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
	<span ng-include src="'partials/components/sidenav.html'"></span>
</md-sidenav>

<div layout="column" class="relative" layout-fill role="main">
      	<span ng-include src="'partials/components/header.html'"></span>
      <md-content flex md-scroll-y class="bg-gray">
       	<span ng-include src="pages"></span>
      </md-content>
</div>-->
