<side-nav></side-nav>
<div layout="column" class="relative" layout-fill role="main">
    <mesh-header></mesh-header>
    <md-content flex md-scroll-y class="bg-gray">
        <ui-view layout="column" layout-fill layout-padding>
            <ul class="filters">
                <li layout="row">
                    <label flex="30">Show :</label>
                    <md-select ng-model="selectedFilter" flex placeholder="Open" ng-change="setCriteria()">
                        <md-option ng-value="filter.key" ng-repeat="filter in filters">{{ filter.value }}</md-option>
                    </md-select>
                </li>
	            	<li layout="row" class="page-rows">
                    	<label flex="70">Records per page:</label>
	                    <md-select ng-model="pagination.perPageItemCount" flex placeholder="Open">
	                        <md-option  ng-value="10" >10</md-option>
	                        <md-option ng-value="25" >25</md-option>
	                    </md-select>
                	</li>	
	            
                 <!-- <md-button ng-click="setCriteria()" ><md-icon md-font-set="material-icons" > search </md-icon></md-button>  -->
            </ul>

            <md-button class="md-fab add-btn-top " aria-label="Add" ng-click="showPaymentDialog($event,true)">
                <md-icon md-font-set="material-icons"> add</md-icon>
            </md-button>

            <ul class="paye-count">
                <li><span>Total :</span> {{counts.total}}</li>
                <li><span>Total Open :</span>{{counts.totalopen}}</li>
                <li><span>Total Closed :</span>{{counts.totalclose}}</li>
            </ul>

            <md-card class="padding-none margin-bottom-60">
                <md-card-content class="padding-none">
                    <div class="tbl-horizontal-scroll">
                        <table class="table table-text-left table-striped">
                        	<thead>
	                        <tr>
	                            <th>Id</th>
	                            <th>Customer Name</th>
	                            <th>State</th>
	                            <th>Amount</th>
	                            <th>Notes</th>
	                            <th>Created On</th>
	                            <th>Closed On</th>
	                            <th width="30" ></th>
	                        </tr>
	                        </thead>
                            <tbody>
                            <tr ng-repeat = "payment in paymentList | paymentFilter:selectedFilter">
                                <td>{{payment.rpId}}</td>
                                <td>{{payment.custName}}</td>
                                <td>{{payment.state | lowercase}}</td>
                                <td>{{payment.amount}}</td>
                                <td><p class="td-word-wrap-small">{{payment.notes}}</p></td>
                                <td nowrap>{{payment.created | dateFilter}}</td>
                                <td nowrap>{{payment.closed | dateFilter}}</td>
                                <td width="30"  class="v-align table-row-menu text-align-right">
                                    <md-menu md-offset="0 -7" >
                                        <md-button aria-label="Open demo menu" class="md-icon-button"
                                                   ng-click="$mdOpenMenu($event)">
                                            <md-icon md-font-set="material-icons">more_vert</md-icon>
                                        </md-button>
                                        <md-menu-content class="small-menu">
                                            <md-menu-item>
                                                <md-button ng-disabled="payment.state == 'closed' || payment.state == 'CLOSED' || payment.state == 'Closed'" ng-click="deletePaymentDialog($event,payment)">Delete</md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                         <pagination per-page-item-count="{{pagination.perPageItemCount}}" total-pages-to-show="6" method="getPaymentList(pageNumber,setPagination)"></pagination>
                    </div>
                </md-card-content>
            </md-card>
            <div class="clearfix"></div>
        </ui-view>
    </md-content>
</div>
