<side-nav></side-nav>
<div layout="column" class="relative" layout-fill role="main">
    <mesh-header></mesh-header>
    <md-content flex md-scroll-y class="bg-gray">
        <ui-view layout="column" layout-fill layout-padding>
            <!-- <ul class="filters">
                <li layout="row">
                    <label flex="30">Show :</label>
                    <md-select flex placeholder="Open"  ng-model="paymentShow">
                        <md-option ng-value="payment" ng-repeat="pay in payments">{{ pay.opt }}</md-option>
                    </md-select>
                </li>
            </ul> -->
	            <ul class="filters">
		            <li layout="row" class="search-box" >
	            			 <md-icon md-font-set="material-icons"> search </md-icon>
	                        <input ng-model="criteria.psku" placeholder="enter search" flex>
	                 	 <md-button class="submit-search" ng-click="setCriteria()" ><md-icon md-font-set="material-icons" > search </md-icon></md-button>
	                 </li>
	            	<li layout="row" class="page-rows">
                    	<label flex="70">Records per page:</label>
	                    <md-select ng-model="pagination.perPageItemCount" flex placeholder="Open">
	                        <md-option  ng-value="10" >10</md-option>
	                        <md-option ng-value="25" >25</md-option>
	                    </md-select>
                	</li>	
	            </ul>
            <md-button class="md-fab add-btn-top " aria-label="Add" ng-click="showProductDialog($event)">
                <md-icon md-font-set="material-icons"> add</md-icon>
            </md-button>

            <!-- <ul class="paye-count">
                <li><span>Total :</span> 0.00</li>
                <li><span>Total Open :</span> 0.00</li>
                <li><span>Total Closed :</span> 0.00</li>
            </ul> -->

            <md-card class="padding-none margin-bottom-60">
                <md-card-content class="padding-none">
                    <table class="table table-text-left">
                        
                    </table>
                    <div class="tbl-horizontal-scroll">
                        <table class="table table-text-left table-striped prd-childtablectrl">
                        	<thead>
                        <tr>
                            <th>Product Id</th>
                            <th>Description</th>
                            <th>Items</th>
                            <th width="30"></th>
                        </tr>
                        </thead>
                            <tbody>
                            <tr ng-repeat="product in productList">
                                <td><p class="td-word-wrap-small">{{product.psku}}</p></td>
                                <td><p class="td-word-wrap">{{product.description}}</p></td>
                                <td>
                                    <table class="child-table">
                                        <tr ng-repeat="productItem in product.productItems">
                                            <td>{{productItem.rsku}}</td>
                                            <td>:</td>
                                            <td>{{productItem.quantity}}</td>
                                        </tr>
                                    </table>
                                </td>
                            	<td width="30" class="v-align table-row-menu text-align-right">
                                    <md-menu md-offset="0 -7">
                                        <md-button aria-label="Open demo menu" class="md-icon-button"
                                                   ng-click="$mdOpenMenu($event)">
                                            <md-icon md-font-set="material-icons">more_vert</md-icon>
                                        </md-button>
                                        <md-menu-content class="small-menu">
                                            <md-menu-item>
                                                <md-button ng-click="showProductDialog($event,product)">Edit</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="deleteInventoryDialog($event,product)">Delete</md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </td> 
                            </tr>
                            </tbody>
                        </table>
                        <pagination per-page-item-count="{{pagination.perPageItemCount}}" total-pages-to-show="6" method="getProductList(pageNumber,setPagination)"></pagination>
                    </div>
                </md-card-content>
            </md-card>
            <div class="clearfix"></div>
        </ui-view>
    </md-content>
</div>
