<side-nav></side-nav>
<div layout="column" class="relative" layout-fill role="main">
    <mesh-header></mesh-header>
    <md-content flex md-scroll-y class="bg-gray">
        <ui-view layout="column" layout-fill layout-padding>
            <ul class="filters">
                <li layout="row">
                    <label flex="40">Filter By :</label>
                    <md-select flex placeholder="None"  ng-model="selectedFilter" ng-change="changeTextFieldVisibility()" >
                    	<md-option ng-value="" >None</md-option>
                        <md-option ng-value="filter.key" ng-repeat="filter in filters">{{ filter.value }}</md-option>
                    </md-select>
                </li>
                <li layout="row" ng-show="filterTextFieldVisibility" >
                	<input type="text" ng-model="filterTextField"  >
                </li>
                <li layout="row">
                    <label flex="30">Show :</label>
                    <md-select flex placeholder="Current Month" ng-model="selectedShowFilter"  >
                    	<md-option ng-value="1" ng-selected="true" >None</md-option>
                        <md-option ng-value="showFilter.key" ng-repeat="showFilter in showFilters" >{{ showFilter.value }}</md-option>
                    </md-select>
                </li>
                <li layout="row" ng-show="selectedShowFilter == 'month'">
                    <label flex="50">Select Month :</label>
                    <md-select ng-model="selectedMonth" flex placeholder="Select Months">
                    	<md-option ng-value="-1" >Select</md-option>
						<md-option ng-value="0" >January</md-option>
						<md-option ng-value="1" >February</md-option>
						<md-option ng-value="2" >March</md-option>
						<md-option ng-value="3" >April</md-option>
						<md-option ng-value="4" >May</md-option>
						<md-option ng-value="5" >June</md-option>
						<md-option ng-value="6" >July</md-option>
						<md-option ng-value="7" >August</md-option>
						<md-option ng-value="8" >September</md-option>
						<md-option ng-value="9" >October</md-option>
						<md-option ng-value="10" >November</md-option>
						<md-option ng-value="11" >December</md-option>
                    </md-select>
                </li>
                <li class="search-holder"><md-button class="submit-search" ng-click="setCriteria()" ><md-icon md-font-set="material-icons" > search </md-icon></md-button></li>
                <li layout="row" class="page-rows">
                    	<label flex="70">Records per page:</label>
	                    <md-select ng-model="pagination.perPageItemCount" flex placeholder="Open">
	                        <md-option  ng-value="10" >10</md-option>
	                        <md-option ng-value="25" >25</md-option>
	                    </md-select>
                	</li>
                
            </ul>

            <!-- <md-button class="md-fab add-btn-top " aria-label="Add" ng-click="showAddPayment($event)">
                <md-icon md-font-set="material-icons"> add</md-icon>
            </md-button> -->

            <ul class="paye-count">
                <li><span>Total Amount:</span> {{totalAmount}}</li>
                <!--<li><span>Total Open :</span> 0.00</li>
                <li><span>Total Closed :</span> 0.00</li>-->
            </ul>

            <md-card class="padding-none margin-bottom-60">
                <md-card-content class="padding-none">
                    <!-- <table class="table table-text-left">
                        <thead>
                        <tr>
                            <th width="7%">Purchase Order</th>
                            <th width="13%">Customer</th>
                            <th width="15%">Sales Rep</th>
                            <th width="15%">Amount</th>
                            <th width="18%">Notes</th>
                            <th width="25%">Recognized On</th>
                            <th width="7%">Items</th>
                        </tr>
                        </thead>
                    </table> -->
                    <div class="tbl-horizontal-scroll">
                        <table class="table table-text-left table-striped">
	                        <thead>
	                        <tr>
	                            <th>Purchase Order</th>
	                            <th>Customer</th>
	                            <th>Sales Rep</th>
	                            <th>Amount</th>
	                            <th>Notes</th>
	                            <th>Recognized On</th>
	                            <th>Items</th>
	                        </tr>
	                        </thead>
                            <tbody>
                            <tr ng-repeat="revenue in revenueList">
                                <td>{{revenue.purchaseOrder}}</td>
                                <td>{{revenue.customerName}}</td>
                                <td> {{revenue.salesRep}}</td>
                                <td>{{revenue.amount}}</td>
                                <td>{{revenue.notes}}</td>
                                <td nowrap>{{revenue.recognizedOn | dateFilter}}</td>
                                <td>
                                	<table class="child-table">
                                        <tr ng-repeat="item in revenue.invoiceItems">
                                            <td class="td-word-wrap-xsmall">{{item.psku}}</td>
                                            <td>:</td>
                                            <td class="column-xs">{{item.quantity}}</td>
                                            <td>
                                            	<table  class="subchild-table">
                                            		<tr ng-repeat="invoiceItemSubProduct in item.invoiceItemSubProducts" >
                                            			<td>{{invoiceItemSubProduct.subproductName}}</td>
                                            			<td>{{invoiceItemSubProduct.quantity}}</td>
                                            		</tr>
                                            	</table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <pagination per-page-item-count="{{pagination.perPageItemCount}}" total-pages-to-show="6" method="getRevenueList(pageNumber,setPagination)"></pagination>
                    </div>
                </md-card-content>
            </md-card>
            <div class="clearfix"></div>
        </ui-view>
    </md-content>
</div>