<side-nav></side-nav>
<div layout="column" class="relative" layout-fill role="main">
    <mesh-header></mesh-header>
    <md-content flex md-scroll-y class="bg-gray">
        <ui-view layout="column" layout-fill layout-padding>
            <ul class="filters">
                <li layout="row">
                    <label flex="30">Show :</label>
                    <md-select ng-model="selectedCriteria" ng-change="setCriteria()" flex placeholder="All">
                        <md-option ng-value="criteria.key" ng-repeat="criteria in criterias">{{ criteria.value }}</md-option>
                    </md-select>
                </li>
            	<li layout="row" class="page-rows">
                   	<label flex="70">Records per page:</label>
                    <md-select ng-model="pagination.perPageItemCount" flex placeholder="Open">
                        <md-option  ng-value="10" >10</md-option>
                        <md-option ng-value="25" >25</md-option>
                    </md-select>
               	</li>	
            </ul>
            
            <md-button class="md-fab add-btn-top " aria-label="Add" ng-click="openShipOrder($event)">
                <md-icon md-font-set="material-icons"> add</md-icon>
            </md-button>

            <md-card class="padding-none margin-bottom-60">
                <md-card-content class="padding-none">
                    <div class="tbl-horizontal-scroll" >
                        <table class="table table-text-left table-hover table-striped">
                        	<thead>
                        <tr>
                            <th>Ship Id</th>
                            <th>Job Id</th>
                            <th>Status</th>
                            <th>Items</th>
                            <th>Need By</th>
                            <th>Committed By</th>
                            <th>Details</th>
                            <th width="30" class="text-align-right"></th>
                        </tr>
                        </thead>
                            <tbody>
                            <tr ng-repeat="shipOrder in shipOrderList">
                                <td>{{shipOrder.shipId}}</td>
                                <td>{{shipOrder.jobId}}</td>
                                <td>{{shipOrder.state | uppercase}}</td>
                                <td>
                                    <table class="child-table">
                                        <tr ng-repeat="item in shipOrder.shipItems">
                                            <td class="td-word-wrap-xsmall">{{item.psku}}</td>
                                            <td>:</td>
                                            <td>{{item.quantity}}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td nowrap>{{shipOrder.shipBy | dateFilter }}</td>
                                <td nowrap>{{shipOrder.commitBy | dateFilter }}</td>
                                <td><p class="td-word-wrap">
                                    Purchase Order Number {{shipOrder.invId}} <br/>
                                    Company Name :{{shipOrder.custName}}<br>
                                   {{shipOrder.address}}</p>
                                </td>
                                <td width="30" class="v-align table-row-menu text-align-right">
                                    <md-menu md-offset="0 -7">
                                        <md-button aria-label="Open demo menu" class="md-icon-button"
                                                   ng-click="$mdOpenMenu($event)">
                                            <md-icon md-font-set="material-icons">more_vert</md-icon>
                                        </md-button>
                                        <md-menu-content class="small-menu">
                                            <md-menu-item>
                                                <md-button ng-click="openShipOrder($event,shipOrder)"  ng-disabled="shipOrder.state == 'acknowledged' || shipOrder.state == 'finished'" >Edit</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="deleteOrder($event,shipOrder)" ng-disabled="shipOrder.state != 'open'">Delete</md-button>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item>
                 				<md-button ng-click="acknowledgeOrder($event,shipOrder)" ng-disabled="shipOrder.state == 'acknowledged' || shipOrder.state == 'finished'" >Acknowledge</md-button>
							                 </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="addTrackingDialog($event,shipOrder)" ng-disabled="shipOrder.state == 'acknowledged' || shipOrder.state == 'finished'" >Add Tracking</md-button>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                           <!--  <md-menu-item>
                                                <md-button ng-click="scanShipmentDialog($event,shipOrder)">Scan Shipment</md-button>
                                            </md-menu-item> -->
                                            <md-menu-item>
                                                <md-button ng-click="packagingShipDialog($event,shipOrder)">Packing Slip</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="finishShipOrderDailog($event,shipOrder)"  ng-disabled="shipOrder.state == 'open' || shipOrder.state == 'finished'" >Finish</md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </td>
                            </tr>
                     </tbody>
                        </table>
                        <pagination per-page-item-count="{{pagination.perPageItemCount}}" total-pages-to-show="6" method="getShipOrderList(pageNumber,setPagination)"></pagination>
                    </div>
                </md-card-content>
            </md-card>
            <div class="clearfix"></div>
        </ui-view>
    </md-content>
</div>
