<side-nav></side-nav>
<div layout="column" class="relative" layout-fill role="main">
<mesh-header></mesh-header>
    <md-content flex md-scroll-y class="bg-gray">
<ui-view layout="column" layout-fill layout-padding>
          	<ul class="filters">
          		<li layout="row">
                    <label flex="40">Filter By :</label>
                    <md-select ng-model="selectedFilter" flex placeholder="None">
                    <md-option ng-value="null" >None</md-option>
                    	<md-option ng-repeat="filter in filters" ng-value="filter.key" >{{ filter.value }}</md-option>
                    </md-select>
                </li>
            	<li layout="row" class="search-box" ng-hide="selectedFilter == null" >
            			 <md-icon md-font-set="material-icons"> search </md-icon>
                        <input ng-model="searchText" placeholder="enter search" flex>
                         <!-- <md-button ng-click="setCriteria()" ><md-icon md-font-set="material-icons" > search </md-icon></md-button>  -->
                      <!-- <md-button aria-label="Search" ng-click=""> -->
                       
                      <!-- </md-button> -->
                </li>
                <li class="search-holder"> <md-button class="submit-search" ng-click="setCriteria()" ><md-icon md-font-set="material-icons" > search </md-icon></md-button></li>
                	<li layout="row" class="page-rows">
                    	<label flex="70">Records per page:</label>
	                    <md-select ng-model="pagination.perPageItemCount" flex placeholder="Open">
	                        <md-option  ng-value="10" >10</md-option>
	                        <md-option ng-value="25" >25</md-option>
	                    </md-select>
                	</li>	
	           
            </ul>
            
            <md-button class="md-fab add-btn-top " aria-label="Add" ng-click="addUser($event)">
            	<md-icon md-font-set="material-icons"> person_add </md-icon>
        	</md-button>
                       
            <md-card class="padding-none margin-bottom-60">
             <md-card-content class="padding-none">
               <div class="tbl-horizontal-scroll">
               <table class="table table-text-left table-hover table-striped">
               		<thead>
                    	<tr>
                        	<th>#</th>
                            <th>User Name</th>
                            <th>Email Address</th>
                            <th>Full Name</th>
                            <th>Roles</th>
                            <th>Views</th>
                            <th width="30" class="text-align-right"></th>
                        </tr>
                    </thead>
               		<tbody>
                    	<tr ng-repeat="user in userList" >
                        	<td>{{$index + 1}}</td>
                            <td>{{user.userName}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.fullName}}</td>
                            <td>{{user.roles}}</td>
                            <td><span>{{user.views | showView}}</span></td>
                            <td width="30" class="v-align table-row-menu text-align-right">
                                <md-menu md-offset="0 -7">
                                  <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                    <md-icon md-font-set="material-icons">more_vert</md-icon>
                                  </md-button>
                                  <md-menu-content class="small-menu">
                                    <md-menu-item><md-button ng-click="addUser($event,user)"><i class="material-icons"> edit </i> Edit </md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="deleteUser($event,user)"><i class="material-icons"> delete_forever </i> Delete </md-button></md-menu-item>
                                                                        
                                  </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        
                    </tbody>
               </table>
               <pagination per-page-item-count="{{pagination.perPageItemCount}}" total-pages-to-show="6" method="getUserList(pageNumber,setPagination)"></pagination>
               </div>
             </md-card-content>
            </md-card>
            
          <div class="clearfix"></div>
        </ui-view>
   </md-content>
</div>