<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="toggleSidenav-btn" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h3>
           {{pageTitle}}
        </h3>
        <span flex></span>
        <md-button md-no-ink class="md-primary btn-header-menu" hide-xs hide-sm hide-md ng-click="logout()">Logout</md-button>
        
      <md-menu>
              <md-button class="md-primary btn-header-menu" ng-click="$mdOpenMenu($event)"><md-icon md-font-set="material-icons"> more_vert </md-icon></md-button>
                  <md-menu-content class="header-right-menu">
                      <md-menu-item>
                      	  <md-icon md-font-set="material-icons"> mode_edit </md-icon>
                          <md-button ng-click="navigateTo( { name: 'Change Password',icon: 'settings',path: '/change_password'})">Change Password</md-button>
                      </md-menu-item>
                      <md-menu-item hide-gt-md>
                      		<md-icon md-font-set="material-icons"> power_settings_new </md-icon>
                          <md-button ng-click="logout()">Logout</md-button>
                      </md-menu-item>
                  </md-menu-content>
            </md-menu>
    </div>
</md-toolbar>
