
<div>
<h4>Items</h4>
<form name="itemForm">
<div layout="row" class="additem-box">
	 <md-input-container flex >
               <label>Item</label>
               <md-select ng-model="ctrl.parent.newItem.psku" ng-disabled="ctrl.parent.shipOrder.invoice == '' || ctrl.parent.shipOrder.invoice == undefined"  name="psku" ng-required="true">
           			<md-select-header>
  						<span>Please Select Product.</span>
					</md-select-header>
                 <md-option ng-repeat="product in ctrl.parent.products" ng-value="product.psku" >{{product.psku}}</md-option>
               </md-select>
               <div ng-messages="itemForm.psku.$error" ng-show="itemForm.psku.$dirty && itemForm.psku.$invalid"  role="alert">
    				<div ng-message="required">Product is required.</div>
  				</div>
    </md-input-container>
    <md-input-container flex>
        <label>Qty</label>
        <input type="number" ng-disabled="ctrl.parent.shipOrder.invoice == '' || ctrl.parent.shipOrder.invoice == undefined" ng-model="ctrl.parent.newItem.quantity" ng-keyup="itemForm.quantity.$validate()"  ng-min="1" ng-max="ctrl.parent.maxQuantity"  ng-required="true" name="quantity" >
        <div ng-messages="itemForm.quantity.$error" role="alert">
   			<div ng-message="max" >Quantity should not exceed than {{ctrl.parent.maxQuantity}}.</div>
   			<div ng-message="min" >Quantity should not be zero.</div>
   			<div ng-message="required" >Quantity is required.</div>
 		</div>
    </md-input-container>
    <md-button class="md-raised btn-sm" ng-hide="ctrl.parent.updateItemFlag"  ng-disabled="itemForm.$invalid" ng-click="ctrl.parent.addItem()" >Add</md-button>
    <md-button class="md-raised btn-sm" ng-show="ctrl.parent.updateItemFlag"  ng-disabled="itemForm.$invalid" ng-click="ctrl.parent.updateItem()" >Update</md-button>
</div>
</form>  
<table class="table table-text-left table-bordered">
	<thead>
    	<tr>
    	<th>Item</th>
        <th>Qty</th>
        <th>Edit</th>
        <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    	<tr ng-repeat="productItem in ctrl.parent.productItems">
          	<td>{{productItem.psku}}</td>
          	<td>{{productItem.quantity}}</td>
          	<td><a href="" class="btn-edit" ng-click="ctrl.parent.editItem($index)"><md-icon md-font-set="material-icons">mode_edit</md-icon></a></td>
          	<td><a href="" class="btn-delete" ng-click="ctrl.parent.deleteItem($index)" ng-class="{disabled: ctrl.parent.updateItemFlag}"  ><md-icon md-font-set="material-icons" >delete_forever</md-icon></a></td>
      	</tr>
    </tbody>
</table>
</div>