<div>
<table class="table table-text-left table-bordered cjo-childtablectrl" ng-show="ctrl.parent.jobItems.length > 0">
            <tbody>
              <tr ng-repeat="invoiceItem in ctrl.parent.jobItems">
                  <td>{{invoiceItem.psku}}</td>
                <!--   <td><span ng-class="{'error-row-table':invoiceItem.isInValid}" >{{invoiceItem.quantity}}</td> -->
                <td>{{invoiceItem.quantity}}</td>
                  <td>
	                  <table class="child-table">
	                  		<tr ng-repeat="jobItemSubProduct in invoiceItem.jobItemSubProducts">
	                  			<td>{{jobItemSubProduct.invoiceItemSubProductList[0].subproductName}}</td>
	                  			<td>{{jobItemSubProduct.invoiceItemSubProductList[0].quantity}}</td>
	                  		</tr>
	                  </table>
                  </td>
                  <td>
                  <!-- 
                  <a href="" class="btn-edit" ng-click="ctrl.parent.editItem(invoiceItem)"><md-icon md-font-set="material-icons">mode_edit</md-icon></a>
                  <a href="" class="btn-delete" ng-click="ctrl.parent.deleteItem($index)" ng-disabled="ctrl.parent.jobItems.length == 1" ><md-icon md-font-set="material-icons">delete_forever</md-icon></a></td>
		           -->
		          
		          <md-button class="md-icon-button icon-btn-edit" ng-click="ctrl.parent.editItem(invoiceItem)" >
				    <md-icon md-font-set="material-icons">mode_edit</md-icon>
				  </md-button> 
		          <md-button class="md-icon-button icon-btn-delete" ng-click="ctrl.parent.deleteItem($index)" ng-disabled="ctrl.parent.jobItems.length == 1" >
				    <md-icon md-font-set="material-icons">delete_forever</md-icon>
				  </md-button>
             
              </tr>
             </tbody>
      </table>
      	<div layout="column"  class="margin-top-20" ng-show="ctrl.parent.updateButton">
      		<form name="itemForm" layout="row" flex>
        	 <md-input-container flex="60">
                   <label>Item</label>
                   <md-select ng-model="ctrl.parent.newItem.invoiceItemId" name="invoiceItem" ng-required="true" ng-disabled="ctrl.parent.updateButton" >
                   	<md-select-header>
	      				<span>Please Select Item.</span>
	    			</md-select-header>
                     <md-option ng-repeat="item in ctrl.parent.jobItems"  ng-value="item.invoiceItemId" >{{item.psku}}</md-option>
                   </md-select>
                   <div role="alert" ng-messages="itemForm.invoiceItem.$error" ng-show="itemForm.modelItem.$dirty && itemForm.modelItem.$invalid" >
						<div ng-message="required">Item is required.</div>
					</div>
            </md-input-container>
            <md-input-container flex>
                <label>Qty</label>
              <!--    <input type="number"  name="quantity" class="appearance-none" ng-model="ctrl.parent.newItem.quantity" ng-required="true" min="1" ng-max="ctrl.parent.validJobItemQuantity" > -->
              <input type="number"  name="quantity" class="appearance-none" ng-model="ctrl.parent.newItem.quantity" ng-required="true" min="1" ng-max="ctrl.parent.newItem.validationQuantity" >
             	<div ng-messages="itemForm.quantity.$error" role="alert">
    				<div ng-message="required" >Invalid Quantity.</div>
    				<div ng-message="min" >Quantity should not be less than 1.</div>
    				<div ng-message="max">Quantity should not be greater than {{ctrl.parent.newItem.validationQuantity}}.</div>
  				</div>
            </md-input-container>
             <md-button class="md-raised btn-sm" ng-show="ctrl.parent.updateButton" ng-disabled="itemForm.$invalid" ng-click="ctrl.parent.updateItem()" >Update</md-button>
        	</form>
        </div>
      <!--   <span style="color:red" ng-show="!ctrl.parent.formValid" >Quantity of any item should not be greater than 20.</span> -->
</div>