<div ng-show="pagination.listCount > 0" >
    <div class="pagination-devider" ></div>
    <div ng-class="isPaginationInDailog ? 'model-pagination' : 'pagination-holder'" >
     <div class="sticky-pagination" >
      <div class="page-details" >
      		Showing {{pagination.currentPage * pagination.numberOfItemPerPage - pagination.numberOfItemPerPage + 1}}  to {{pagination.currentPage * pagination.numberOfItemPerPage > pagination.listCount ? pagination.listCount : pagination.currentPage * pagination.numberOfItemPerPage}} of {{pagination.listCount}} entries
      </div>
      <div class="page-list">
      	<md-button class="icon-btn" ng-click="getPaginationList(1)" ><md-icon md-font-set="material-icons">first_page</md-icon></md-button>
      	<md-button class="icon-btn" ng-hide="pagination.currentPage == 1" ng-click="getPaginationList(pagination.currentPage -1 )" ><md-icon md-font-set="material-icons"> keyboard_arrow_left </md-icon></md-button>
          <md-button class="page-number-btn" ng-repeat="item in paginationArray" ng-click="getPaginationList(item)" ng-class="{ 'active' : pagination.currentPage === item }"  >{{ item }}</md-button>
          <md-button class="icon-btn" ng-hide="pagination.currentPage == pagination.totalPages" ng-click="getPaginationList(pagination.currentPage + 1 )"  ><md-icon md-font-set="material-icons">keyboard_arrow_right</md-icon></md-button>
          <md-button class="icon-btn" ng-click="getPaginationList(pagination.totalPages)" ><md-icon md-font-set="material-icons" > last_page </md-icon></md-button>
       	<div class="page-search">
        	<form name="goToForm">
       		<input ng-model="pagination.goToPage" type="number" ng-min="1" ng-max="pagination.totalPages"  >
       		<md-button type="submit" ng-click="getPaginationList(pagination.goToPage)" ng-disabled="goToForm.$invalid">Go</md-button>
       	</form>
      	</div>
      </div>
     </div>
    </div>
</div>