<div>
<form name="addItemForm" id="addItemForm" > 
           <!-- <a name="addItemlink"></a>   -->   
               <section layout="column" class="addInvoice-item  add-invoice-item">
               <div class="flex">
               		<div  class="col-wt-25">
               		            		
               		
                    <md-input-container class="product-field">
                        <label>Product</label>
                        <md-select  name="productItem" required ng-model="newItem.psku" ng-disabled="newItem.invoiceItemId !== undefined"  ng-change="changeSubItemValidation()" >
                        	<md-select-header>
      							<span>Please select product</span>
    						</md-select-header>
                          <md-option ng-repeat="product in productList" ng-value="product.psku" >{{product.psku}}</md-option>
                        </md-select>
                        <div class="field-bottom-btns"><div class="btn-left input-bottom-btn" aria-label="New" ng-click="ctrl.showProductDialog()">New Product</div></div>
                    	<div class="error-msgs" role="alert" ng-messages="addItemForm.productItem.$error">
    						<span ng-message="required">Product is required.</span>
  						</div>					
                    </md-input-container>
                    </div>
                    
                    <div  class="col-wt-25">
                  <md-input-container class="multy-select">
                    <label>Sub Items </label>
                    <md-select ng-model="selectedSubItemArray"
                               data-md-container-class="selectdemoSelectHeader"
                               multiple="" ng-disabled="newItem.invoiceItemId !== undefined" >
                      <md-optgroup label="Sub Items" >
                        <md-option ng-value="subItem.subProductName" ng-repeat="subItem in subItems"  ng-disabled="subItemValidation[subItem.subProductName] == 0 || subItemValidation[subItem.subProductName] == 'undefined'" >{{subItem.subProductName }}
                        <i class="qty-holder">
                        	<select class="qty-select" ng-disabled="subItemValidation[subItem.subProductName] == 0 || subItemValidation[subItem.subProductName] == 'undefined'"  ng-click="$event.stopPropagation();" ng-model="dropdown_models[subItem.subProductName]" ng-options="dropDownItem.value as dropDownItem.value for dropDownItem in ctrl.subDropDownList | limitTo : subItemValidation[subItem.subProductName]">
                        </select>
                        </i>
                        </md-option>
                      </md-optgroup>
                      </md-select>
                      
                  </md-input-container>
                  </div>
                  
                    <div  class="col-wt-25">
                    <md-input-container >
                      <label>Qty</label>
                      <input type="number" name="quantity" class="appearance-none" ng-model="newItem.quantity" ng-required="true"  min="1">
                      <div class="error-msgs" ng-messages="addItemForm.quantity.$error">
                          <span ng-message="required">Quantity is required.</span>
                          <span ng-message="min">Qty should not be less than 1.</span>
                      </div>
                    </md-input-container>
                    </div>
                    <div  class="col-wt-25">
                    <md-input-container >
                      <label>Price</label>
                      <input type="text"  name="price" ng-init="ctrl.price=0.0" ng-maxlength="7" ng-model="newItem.price" ng-pattern="/^(?:[1-9]\d*|0)?(?:\.\d+)?$/" required>
                      <div class="error-msgs" ng-messages="addItemForm.price.$error">
                          <span ng-message="pattern" >Price should be Numeric.</span>
                          <span ng-message="required" >Price is required.</span>
                          <span ng-message="maxlength" >Price should be less than eight digits.</span>
                      </div>
                    </md-input-container>
                    </div>
               </div>
               
               <div class="flex">
                 	
                    
                    <div  class="col-wt-50">
                    
	                    <md-input-container>
	                      <label>Extra Description</label>
	                      <input type="text" name="extraDesc" ng-model="newItem.extraDesc"  ng-maxlength="255" >
	                      <div class="error-msgs" ng-messages="addItemForm.extraDesc.$error">
	                          <span ng-message="maxlength">Extra Description should not be more than 255 Characters.</span>
	                      </div>
	                    </md-input-container> 
                    </div>
                    <div  class="col-wt-50">
                    <md-input-container>
                       <md-button class="md-raised btn-gray"  ng-disabled="addItemForm.$invalid" ng-show = "saveButton" ng-click="addItem();addItemForm.$setUntouched();" >Add</md-button>
                       <md-button  ng-disabled="addItemForm.$invalid" ng-show="updateButton" class="md-raised btn-gray" ng-click="updateItem();addItemForm.$setUntouched();" >Update</md-button>
               		</md-input-container>
               		</div> 
               </div>
               <!-- <div class="flex add-invoice-item" layout="row">
                    <md-button class="md-raised btn-gray" ng-show = "saveButton" ng-click="ctrl.addItems()">Add</md-button>
                    <md-button ng-show="updateButton" class="md-raised btn-gray" ng-click="ctrl.updateItem()">Update</md-button>
               </div> -->
               </section>
           </form>
           
            <table class="table table-text-left table-bordered actionbtn_ctrl ai-margin-top tbl-small-padding" ng-show="ctrl.invoiceitems.length > 0">
               		<thead>
               			<tr>
               				<th>Item</th>
               				<th>Quantity</th>
               				<th>Price</th>
               				<th>Sub Items</th>
               				<th width="30">Edit</th>
               				<th width="30">Delete</th>
               			</tr>
               		</thead>
            		<tbody>
            			<tr ng-repeat="invoiceItem in ctrl.invoiceitems">
            			<td>{{invoiceItem.psku}}</td>
                		<td>{{invoiceItem.quantity}}</td>
                		<td>{{invoiceItem.price}}</td>
                		<td><table class="child-table" >
                			<tr  ng-repeat="subItem in invoiceItem.invoiceItemSubProducts" >
								<td>{{subItem.subproductName}}</td>
								<td>:</td>
								<td>{{subItem.quantity}}</td>
							</tr>
                		</table>
                		</td>
                		<td width="30">
	                		<a class="btn-edit" ng-click="editItem(invoiceItem,$index)" ><md-icon md-font-set="material-icons">mode_edit</md-icon></a>
	                	</td>
                		<td width="30">
	                		 <a class="btn-delete" ng-click="deleteItem($index)" ng-class="{disabled: updateButton}"><md-icon md-font-set="material-icons">delete</md-icon></a>
                		 </td>
                		</tr>
            		</tbody>
        	   </table>
</div>