<md-sidenav layout="column" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-tall md-hue-2 top-left-holder">
        <div class="overlay">
            <div class="sidenav-logo"><img src="views/assets/images/logo1.png" ></div>
            <span flex></span>

            <div layout="row" class="md-toolbar-tools-bottom user-row inset">
                <!--<div class="user-icon"><img src="assets/images/user.png"></div>
                <span></span>-->
                <div layout="column" class="user-details">
                    <div class="user-name" title="{{currentUser.userName}}">{{currentUser.userName}}</div>
                    <div class="user-mail" title="{{currentUser.email}}">{{currentUser.email}}</div>
                </div>
                <!--<md-icon layout="column" md-font-set="material-icons"> power_settings_new </md-icon>-->
                <!-- <div layout="column">
                    <md-icon md-font-set="material-icons" ng-show="arrowDown"> arrow_drop_down</md-icon>
                    <md-icon md-font-set="material-icons" ng-show="!arrowDown"> arrow_drop_up</md-icon>
                </div> -->
            </div>
        </div>
    </md-toolbar>
    <!-- <md-list>
        <md-list-item ng-click="navigateTo(menuitem)" ng-class="{menuactive: activeRoute(menuitem)}" ng-repeat="menuitem in menu4" class="menu-item" layout="row">
            <div class="link-icon">
                <md-icon md-font-set="material-icons"> {{menuitem.icon}}</md-icon>
            </div>
            <div class="link-name">{{menuitem.name}}</div>
        </md-list-item>
    </md-list> -->

    <md-list>
        <md-list-item ng-repeat="route in routes" ng-class="{menuactive: activeRoute(route)}"
                      ng-href="#{{ route.path }}" class="menu-item" layout="row">
            <div class="link-icon">
                <md-icon md-font-set="material-icons"> {{route.icon}}</md-icon>
            </div>
            <div class="link-name">{{route.name}}</div>
        </md-list-item>

        <!--<md-item ng-click="navigateTo(menuitem)" ng-repeat="menuitem in menu1">
            <md-item-content md-ink-ripple layout="row" layout-align="start center" class="menu-item">
              <div class="link-icon">
                <md-icon md-font-set="material-icons"> {{menuitem.icon}} </md-icon>
              </div>
              <div class="link-name">{{menuitem.title}}</div>
            </md-item-content>
        </md-item>-->
        <!-- <md-divider></md-divider>
         <md-list-item ng-click="navigateTo(menuitem)" ng-repeat="menuitem in menu2" class="menu-item" layout="row">
           <div class="link-icon">
                 <md-icon md-font-set="material-icons"> {{menuitem.icon}} </md-icon>
               </div>
               <div class="link-name">{{menuitem.title}}</div>
            </md-list-item>

         <md-divider></md-divider>
         <md-list-item ng-click="navigateTo(menuitem)" ng-repeat="menuitem in menu3" class="menu-item" layout="row">
           <div class="link-icon">
                 <md-icon md-font-set="material-icons"> {{menuitem.icon}} </md-icon>
               </div>
               <div class="link-name">{{menuitem.title}}</div>
            </md-list-item>-->
    </md-list>
</md-sidenav>

